/*TOP*/
#topbar{
	position: relative;
	width: 100%;
	height: 44px;
	background-color: #333;
}
#topbar .container{
	width: 1090px;
	margin: 0 auto;
}
#topbar .left-part{
	float: left;
	height: 44px;
	line-height: 44px;
}
#topbar .dw{
	display: block;
	color: #e6e6e6;
	font-size: 16px;
	transition: .3s all;
}
#topbar .dw:hover{
	opacity: .65;
	transition: .3s all;
}
#topbar .dw i{
	position: relative;
	display: inline-block;
	width: 21px;
	height: 21px;
	top: 5px;
	background: url(../img/zb.png) no-repeat;
}
/*下拉框*/
#topbar .right-part{
	position: relative;
	float: right;
	height: 44px;
	line-height: 44px;
}
#topbar .home{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/boss-home.png);
	line-height: 44px;
	margin-top: 10px;
	margin-right: 15px;
	text-align: center;
}
#topbar .home:hover{
	background: url(../img/boss_home.png);
}
body{
    overflow-x: hidden;
    position: relative;
    background: #FCFCFC;
}
/*弹框*/
.black_overlay{
display: none;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: #aaa;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
/*filter: alpha(opacity=80);*/
}
.white_content {
display: none;
position: fixed;
width: 632px;
height: 300px;
top: 40%;
left: 50%;
margin-top: -145px;
margin-left: -351px;
padding: 0 35px 0;
background-color: #fff;
z-index:1002;
overflow: hidden;
}
.white_content .move{
	position: relative;
	height: 160px;
}
.white_content .title{
	position: absolute;
	left: 42%;
	bottom: 0;
	text-align: center;
}
.white_content .title p{
	font-size: 18px;
	color: #FED500;
}
.white_content .list{
	margin-top: 30px;
}
.white_content .list p{
	font-size: 24px;
	color: #666;
	text-align: center;
}
.white_content .back{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 30px;
	color: #FED500;
	font-family: simsun;
	padding: 5px 5px 0 0;
}
/*form表单*/
#banner {
    width:100%;
    position: relative;
    padding: 30px 0 40px;
}
#banner div{
    width:400px;
    margin:0 auto;
    height: 45px;
    text-align:center;
    margin-top: 15px;
}
#banner div input{
    width: 100%;
    height: 100%;
    font-size: 15px;
    outline: none;
    text-indent:15px;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #6a6a6a;
    padding: 0;
}
#banner div input:focus{
    border: 1px solid #FED500;
}
#banner div #code{
	float: left;
	width: 240px;
}
#banner div #btn-code{
	float: right;
	display: inline-block;
	width: 150px;
	height: 47px;
	line-height: 47px;
	outline: none;
	border: none;
	background: #F0F0F0;
	color: #6a6a6a;
	border-radius: 3px;
	text-align: center;
	text-indent: 0;
	cursor: pointer;
}
#banner div #cpy-tacts{
	float: left;
	width: 240px;
}
#banner div .btn-ladie{
	float: right;
	display: inline-block;
	width: 70px;
	height: 47px;
	outline: none;
	border: none;
	background: #F0F0F0;
	color: #6A6A6A;
	border-radius: 3px;
	margin-left: 10px;
	text-align: center;
	text-indent: 0;
	cursor: pointer;
}
#banner div input.btn-gentle{
	float: right;
	display: inline-block;
	width: 70px;
	height: 47px;
	outline: none;
	border: none;
	background: #F0F0F0;
	color: #6A6A6A;
	border-radius: 3px;
	text-align: center;
	text-indent: 0;
	cursor: pointer;
}
#banner div input.btn-ladie.active{
	color: #fff;
	background: #FED500;
	border: none;
}
#banner div input.btn-gentle.active{
	color: #fff;
	background: #FED500;
	border: none;
}
#banner div input.btn-ladie:focus{
	border: none;
}
#banner div input.btn-gentle:focus{
	border: none;
}
.dingwei{
	position: relative;
}
.dingwei i{
	position: absolute;
	right:-35px;
	top:10px;
	color:green;
	font-size:25px;
	display: none;
	background: url(../img/right.png);
	width: 25px;
	height: 25px;
}

#file-tab{
	margin-left: 240px;
	margin-top: 20px;
	padding: 5px 0;
    vertical-align: top;
    text-align: left;
}
#file-tab table{
	margin: 0 auto;
	width: 460px;
	border-collapse: collapse;
    border-spacing: 0;
	table-layout: fixed;
}
#file-tab tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#file-tab td{
	padding: 5px 0;
    vertical-align: top;
    text-align: left;
}
#file-tab .need{
	width: 15px;
	color: #b20202;
	padding-top: 15px;
}
#file-tab .label{
	width: 90px;
	padding-top: 15px;
}
#file-tab .file-rt{
	padding-left: 10px;
}
#file-tab .showFileName{
	display: block;
	color: #999;
	width: 250px;
	overflow: hidden;
}
#file-tab .fileerrorTip{
	display: block;
	color: #FF0000;
	width: 240px;
	overflow: hidden;
}
#banner .sub-box{
	margin-top: 0;
}
#banner div .terms{
	color: #FED500;
}
#banner div .terms:hover{
	color: #FF0000;
}
#banner div #submit{
	background: #FED500;
	color: #fff;
	border: none;
	font-size: 18px;
	cursor: pointer;
	transition: .15s all;
}
#submit:hover{
	opacity: .85;
	transition: .15s all;
}

#banner #label{
    position: absolute;
    left:0;
    right: 0;
    top:31px;
    width: 300px;
    transform:translateX(-380px);
}
#banner #label div{
    margin-top: 0;
    margin-bottom: 15px;
    width:100px;
    margin-right: 0;
    text-align: right;
}
#banner #label div label{
    height:45px;
    line-height: 45px;
    font-size:18px;
    color: gray;
    text-align: right;
    display: none;
}

#banner #prompt{
    position: absolute;
    left:0;
    right: 0;
    top:31px;
    transform: translateX(450px);
}
#banner #prompt div{
    margin-top: 0;
    margin-bottom: 15px;
}
#banner #prompt p{
    height: 45px;
    text-align:center;
    width: 200px;
    font-size: 14px;
    font-weight: 100;
    background: #E4E4E4;
    line-height:20px;
    color: dimgrey;
    display: none;
}
.dingwei{
	position: relative;
}
.dingwei i{
	position: absolute;
	right:-35px;
	top:10px;
	color:green;
	font-size:25px;
	display: none;
}
input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0 50px white inset;
}
/*input type=file*/
.file {
    position: relative;
    display: inline-block;
    background: #FED500;
    border-radius: 4px;
    padding: 0 20px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-indent: 0;
    line-height: 40px;
    /*margin: 20px 0 0;*/
    opacity: 1;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #FED500;
    color: #fff;
    text-decoration: none;
    opacity: .75;
}
/*common*/
body{
    overflow-x: hidden;
    position: relative;
    background: #FCFCFC;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td, th{
	display: table-cell;
}
input{
	outline: none;
}
/*掌柜版*/
.dialog .title-box h1 {
	text-align: center;
}
.dialog .title-box h1 p{
	position: absolute;
	left: 50%;
	margin-left: -35px;
	margin-top: 15px;
	font-size: 26px;
	color: #000;
	font-weight: 500;
}
body{
	background: #ebebeb;
}
/*页面开始*/
.dialog{
	/*position: absolute;
	width: 1090px;
	top: 50%;
	left: 50%;
	margin-top: -340px;
	margin-left: -545px;*/
	width: 1090px;
	margin: 40px auto 80px;
	background: #fff;
	border-radius: 10px;
	background: #fff;
}
#main{
	position: relative;
}
.arrow-down{
	height: 30px;
	top: -30px;
	text-align: center;
}
/*logo部分*/
.title-box{
	position: relative;
	border-bottom: 1px solid #f4f4f4;
}
.title-box h1{
	padding: 65px 0 105px;
}
.title-box h1>a{
	display: block;
	width: 280px;
	height: 73px;
	margin-left: 405px;
	background: url(../img/logo-zc.png) no-repeat;
	background-position: cover;
	outline: none;
}
.title-box div{
	position: absolute;
	display: inline-block;
	width: 125px;
	height: 50px;
	bottom: -1px;
	text-align: center;
}
.title-box div>a{
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	color: #c6c6c6;
	transition: .1s all;
}
.title-box .zc{
	left: 440px;
	border-bottom: 2.5px solid #FED500;
}
.title-box .zc a{
	font-size: 30px;
	color: #FED500;
}
.title-box .dl{
	right: 380px;
	border-bottom: 2.5px solid transparent;
}
.title-box .dl a{
	font-size: 30px;
	color: #999;
}

.title-box .dl>a:hover{
	color: #FED500;
	transition: .1s all;
}

/*入驻合作*/
.news{
	width: 1090px;
	margin: 0 auto;
	padding-top: 80px;
    padding-bottom: 100px;
    
}
.news .title{
	font-size: 28px;
	color: #333;
	text-align: center;
}
.news .subTitle{
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	text-align: center;
}
.news .detail-box{
	margin-top: 50px;
}
.news .detail-box ul{
	display: flex;
	flex-wrap: nowrap;
}
.news .detail-box ul li{
	position: relative;
	display: inline-block;
	width: 25%;
    /*top: 0;*/
    transition: all 0.2s ease-in-out;
    /*cursor: default;*/
}
.news .detail-box .imgBox{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
.news .detail-box .imgBox img{
	width: 100%;
	height: 100%;
}
.news .detail-box .title-0{
	font-size: 18px;
    color: #333;
    text-align: center;
}
.news .detail-box .subTitle-0{
	width: 182px;
    margin: 0 auto;
    margin-top: 10px;
	font-size: 14px;
    color: #666;
    text-align: center;
}

/*常见问题*/
.questions{
	width: 1090px;
	margin: 0 auto;
    padding-bottom: 75px;
	
}
.questions .title{
	font-size: 28px;
	color: #333;
	text-align: center;
}
.questions .subTitle{
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	text-align: center;
}
.questions .detail-box{
	margin-top: 80px;
}
.questions .detail-box ul{
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
}
.questions .detail-box ul li{
	display: inline-block;
	width: 470px;
}
.questions .detail-box ul li>div{
	margin-bottom: 40px;
    text-align: left;
    /*cursor: default;*/
}
.questions .detail-box .title-list{
	    font-size: 18px;
    color: #333;
}
.questions .detail-box .title-list img{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: text-bottom;
}
.questions .detail-box .subTitle-list{
	    font-size: 14px;
    color: #616D71;
    line-height: 24px;
    margin-top: 10px;
    margin-left: 34px;
}
/*页面底部*/
.footer{
	width: 100%;
	/*position: absolute;*/
	/*bottom: -1330px;*/
	background: #001B2F;
}
.footer-box{
	width: 1090px;
	margin: 0 auto;
	padding-top: 40px;
    padding-bottom: 90px;
    text-align: center;
}
.footer-code{
	background-color: #fff;
    display: inline-block;
    width: 110px;
    height: 130px;
    border-radius: 4px;
}
.footer-code img{
	width: 80px;
    height: 80px;
    margin-top: 15px;
}
.footer-code div{
	font-size: 12px;
    color: #666;
    line-height: 20px;
    font-weight: 400;
}
.footer-title{
	font-size: 28px;
    color: #FFFFFF;
    margin-top: 20px;
    font-weight: lighter;
}
.footer-phone{
	font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    margin-top: 10px;
    font-weight: lighter;
}
.footer-btn{
	margin-top: 20px;
	border-radius: 20px;
	text-align: center;
}
.footer-btn a{
	display: inline-block;
	width: 300px;
    height: 80px;
	line-height: 80px;
    font-size: 28px;
    color: #fff;
    background: #FED500;
    border-radius: 40px;
    opacity: .9;
    transition: all .2s ease-in-out;
}
.footer-btn a:hover{
	opacity: 1;
	transition: all .2s ease-in-out;
}
.footer-copyright{
	position: absolute;
	width: 1090px;
	margin-top: 50px;
	font-size: 12px;
	color: #fff;
}
