body{
    background-color: #EBEBEB;
}
#main{
    position: relative;
    width: 100%;
    background-color: #EBEBEB;
}
#main .container{
    width: 1090px;
    margin: 0 auto;
    padding: 44px 0 62px;
    overflow: hidden;
}
/*右侧订单*/
.orders{
    position: relative;
    float: right;
    width: 878px;
    min-height: 500px;
}
/*头部*/
.orders-head{
    position: relative;
    width: 100%;
    height: 60px;
    background: #fff;
    margin-bottom: 21px;
}
.orders-head ul{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.orders-head li{
    width: 91px;
    height: 35px;
    float: left;
    text-align: center;
    border-bottom: 4px solid transparent;
    margin: 0 25px;
}
.orders-head li{
    border-bottom: 4px solid #FED500;
}
.orders-head li a{
    display: block;
    line-height: 35px;
    font-size: 20px;
    color: #999;
}
/*详情内容*/
.orders-body{
    position: relative;
    width: 100%;
}
/*企业定制订单******************/
#cpy_custom{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
}
#cpy_custom li{
    position: relative;
    margin-bottom: 8px;
    background: #fff;
    overflow: hidden;
}
#cpy_custom .img-box{
    float: left;
    position: absolute;
}
#cpy_custom .img-box img{
    display: block;
    width: 607px;
    height: 153px;
}
#cpy_custom .content{
    position: relative;
    width: 830px;
    height: 117px;
    padding: 18px 24px 18px;
    color: #fff;
}
#cpy_custom .info-box{
    float: left;
    width: 450px;
}
#cpy_custom .title{
    display: block;
    height: 58px;
    font-size: 22px;
    color: #fff;
    margin-top: -5px;
    overflow: hidden;
}
#cpy_custom .budget{
    width:100px;
    font-size:16px;
}
#cpy_custom .budget strong{
    color: #333;
    font-weight: 500;
}
#cpy_custom .people-num{
    width:100px;
    font-size:16px;
}
#cpy_custom .people-num strong{
    color: #333;
    font-weight: 500;
}
#cpy_custom .time{
    width: 100px;
    font-size: 16px;
}
#cpy_custom .spread{
    display: block;
    width: 14px;
    height: 11px;
    background: url(/img/custom_spr.png);
    margin: 3px 0 0 2px;
    cursor: pointer;
}
#cpy_custom .end{
    float: right;
    width: 90px;
}
#cpy_custom .end .state{
    text-align: center;
    margin: 5px 7px 0;
}
#cpy_custom .end .state a{
    display: block;
    font-size: 14px;
    color: #FED500;
}
#cpy_custom .end .price{
    text-align: center;
    margin: 20px 18px 16px;
}
#cpy_custom .end .price a{
    display: block;
    font-size: 18px;
    color: #d71e1e;
    font-weight: bold;
}
#cpy_custom .end .btn-again{
    width: 88px;
    height: 33px;
    text-align: center;
    background: #FED500;
    border-radius: 20px;
}
#cpy_custom .end .btn-again a{
    display: block;
    line-height: 33px;
    font-size: 12px;
    color: #fff;
}
/*订单详情hidden*/
.custom-info{
    position: relative;
    width: 878px;
    display: none;
}
.custom-info .box-info{
    float: left;
    width: 704px;
    padding: 0 10px;
    border-right: 1px dashed #f2f2f2;
}
.custom-info .text{
    font-size: 16px;
    color: #666;
    min-height: 75px;
    padding: 5px 15px 0;
    border-bottom: 1px dashed #E6E6E6;
}
.custom-info .info-rt{
    float: right;
    width: 153px;
    text-align: center;
}
.custom-info .info-rt .name{
    font-size: 20px;
    color: #FED500;
}
.custom-info .info-rt .sex{
    font-size: 16px;
    color: #FED500;
}
.custom-info .info-rt .phone{
    font-size: 20px;
    color: #FED500;
}
/*定制内容弹框*/
.Custom{
    position: relative;
    top: 0;
    left: 0;
    width: 818px;
    height: 1684px;
    padding: 0 30px;
    background: #fff;
    display: none;
}
.Custom>h2{
    display: block;
    font-size:26px;
    color: #333;
    line-height: 60px;
}
.Custom .cut-cont{
    position: relative;
    margin-bottom: 20px;
}
.Custom .cut-cont table{
    width:100%;
}
.Custom .cut-cont table td{
    text-align: left;
    font-size:24px;
    color: #666;
}
.Custom .cut-cont table td strong{
    font-weight: 500;
}
.Custom .cut-cont table .td-price strong{
    color: #999;
}
.Custom .cut-cont table .td-price span{
    color: #FED500;
    font-size:20px;
    margin-left:6px;
}
.Custom .cut-cont table .td-price span strong{
    color: #FED500;
}
.Custom .cut-cont table .td-right{
    text-align: right;
    padding-right:10px;
}
.Custom .cut-cont .total{
    text-align: right;
    font-size:20px;
    color: #333;
    padding-right: 10px;
}
.Custom .cut-cont .total span{
    font-weight: bold;
    font-size:20px;
    color: #f74342;
}
.Custom .cut-cont .total strong{
    font-weight: bold;
    font-size:30px;
    color: #f74342;
    margin-left: -4px;
}
.Custom .cut-remark textarea{
    width:798px;
    height:132px;
    font-size:22px;
    color: #999;
    resize: none;
    outline:none;
    padding:10px;
    border:1px solid #e1e1e1;
    font-family: "微软雅黑";
    line-height: 1.2;
}
.Custom .cut-meal h1{
    font-size:26px;
    color: #FED500;
    font-weight: 500;
}
.Custom .cut-meal table{
    width:100%;
}
.Custom .cut-meal table tr{
    line-height: 32px;
}
.Custom .cut-meal table tr:nth-child(2n){
    background: #FBFBFB;
}
.Custom .cut-meal table th{
    text-align: left;
    font-size:20px;
    color: #999;
    font-weight: 500;
}
.Custom .cut-meal table td{
    text-align: left;
    font-size:16px;
    color: #999;
}

























