/*左侧导航*/
#main .order-nav{
    position: relative;
    float: left;
    width: 200px;
    min-height: 700px;
    background: #fff;
}
.order-nav dl{
    padding: 40px 40px 45px 60px;
    text-align: left;
}
.order-nav dl .news-age:before{
    content: url("/img/before01.png");
    position: absolute;
    left: -22px;
    top: 2px;
}
.order-nav dl .examine-age:before{
    content: url("/img/before02.png");
    position: absolute;
    left: -22px;
    top: 2px;
}
.order-nav dl .order-age:before{
    content: url("/img/before03.png");
    position: absolute;
    left: -22px;
    top: 2px;
}
.order-nav dl .count-age:before{
    content: url("/img/before04.png");
    position: absolute;
    left: -22px;
    top: 2px;
}
.order-nav dt{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    margin-bottom: 5px;
}
.order-nav dt:first-child{
    margin: 0;
}
.order-nav dd{
    padding-top: 15px;
}
.order-nav dd a{
    font-size: 16px;
    color: #999;
    transition: .2s all;
}
.order-nav dd a:hover{
    color: #FED500;
    transition: .2s all;
}
