body{
	background-color: #EBEBEB;
}
#main{
	position: relative;
	width: 100%;
	background-color: #EBEBEB;
}
#main .container{
	width: 1090px;
	margin: 0 auto;
	padding: 44px 0 62px;
	overflow: hidden;
}
/*右侧订单*/
.orders{
	position: relative;
	float: right;
	width: 878px;
	min-height: 500px;
	/*border: 1px solid red;*/
}
/*头部*/
.orders-head{
	position: relative;
	width: 100%;
	height: 60px;	
	background: #fff;
	margin-bottom: 21px;
}
.orders-head ul{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.orders-head li{
	width: 91px;
	height: 35px;
	float: left;
	text-align: center;
	border-bottom: 4px solid transparent;
	margin: 0 25px;
}
.orders-head li{
	border-bottom: 4px solid #FED500;
}
.orders-head li a{
	display: block;
	line-height: 35px;
	font-size: 20px;
	color: #999;
}
/*详情内容*/
.orders-body{
	position: relative;
	width: 100%;
}
/*人员信息******************/
#cpy-person{
	background: #fff;
	padding: 15px 25px;
}
#cpy-person .title{
	font-size: 24px;
	color: #333;
	padding: 0 20px 25px;
	line-height: 40px;
}
#cpy-person table{
	padding: 0 20px;
}
#cpy-person tr{
	height: 42px;
	text-align: left;
}
#cpy-person tr:nth-child(2n){
	background: #FBFBFB;
}
#cpy-person tr th{
	font-size: 20px;
	color: #999;
	font-weight: inherit;
}
#cpy-person tr td{
	font-size: 18px;
	color: #666;
	border: none;
	margin: 0;
}
#cpy-person tr td:first-child{
	width: 120px;
}
#cpy-person tr td:nth-child(2){
	width: 100px;
}
#cpy-person tr td:nth-child(3){
	width: 200px;
}
#cpy-person tr td:nth-child(4){
	width: 150px;
}
#cpy-person tr td:nth-child(5){
	width: 180px;
}
#cpy-person tr td:nth-child(6){
	width: 40px;
	font-size: 16px;
	color: #999;
	cursor: pointer;
}
.add_up td input{
	height: 25px;
	padding: 0 5px;
	border: 1px solid #cacaca;
	outline: none;
}
.add_up td select{
	height: 26px;
	border: 1px solid #cacaca;
	outline: none;
}

#cpy-person .spread{
	line-height: 42px;
	padding: 0 20px;
}
#cpy-person .spread .add{
	font-size: 18px;
	color: #999;
	cursor: pointer;
}
#cpy-person .spread .btn_up{
	float: right;
	margin-left: 32px;
	margin-right: 22px;
	cursor: pointer;
}
#cpy-person .spread .cut{
	float: right;
	font-size: 18px;
	color: #FED500;
}