body{
	background-color: #EBEBEB;
}
#main{
	position: relative;
	width: 100%;
	background-color: #EBEBEB;
}
#main .container{
	width: 1090px;
	margin: 0 auto;
	padding: 44px 0 62px;
	overflow: hidden;
}
/*右侧订单*/
.orders{
	position: relative;
	float: right;
	width: 878px;
	min-height: 500px;
	/*border: 1px solid red;*/
}
/*头部*/
.orders-head{
	position: relative;
	width: 100%;
	height: 60px;	
	background: #fff;
	margin-bottom: 21px;
}
.orders-head ul{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.orders-head li{
	width: 91px;
	height: 35px;
	float: left;
	text-align: center;
	border-bottom: 4px solid transparent;
	margin: 0 25px;
}
.orders-head li{
	border-bottom: 4px solid #FED500;
}
.orders-head li a{
	display: block;
	line-height: 35px;
	font-size: 20px;
	color: #999;
}
/*详情内容*/
.orders-body{
	position: relative;
	width: 100%;
}
/*商品审核******************/
#cpy-shop .menu{
	width: 100%;
	height: 35px;
	background: #fff;
	margin-bottom: 12px;
}
#cpy-shop .menu a{
	display: inline-block;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #999;
	padding: 0 25px;
	transition: .2s all;
}
#cpy-shop .menu a:focus{
	background: #DCDCDC;
	color: #fff;
	border-bottom: 1px solid #FED500;
}
#cpy-shop ul{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -8px;
	margin-right: -10px;
}
#cpy-shop li{
	position: relative;
	margin-bottom: 8px;
	margin-right: 10px;
}
#cpy-shop .content{
	position: relative;
	width: 434px;
	height: 132px;
	background: #fff;
}
#cpy-shop .title-box{
	position: relative;
	background: #333;
	height: 26px;
	overflow: hidden;
}
#cpy-shop .title-box .img-bg{
	position: absolute;
}
#cpy-shop .title-box .img-bg img{
	display: block;
	width: 348px;
	height: 26px;
}
#cpy-shop .title-info{
	position: relative;
	line-height: 26px;
}
#cpy-shop .title-info span{
	font-size: 16px;
	color: #fff;
}
#cpy-shop .title-info .title{
	margin-left: 8px;
}
#cpy-shop .title-info .times{
	float: right;
}
#cpy-shop .shop-box{
	position: relative;
	background: #fff;
	height: 106px;
	overflow: hidden;
}
#cpy-shop .img-shop{
	float: left;
	width: 186px;
	height: 106px;
}
#cpy-shop .img-shop img{
	display: block;
	width: 186px;
	height: 106px; 
}
#cpy-shop .shop-info{
	float: right;
	width: 238px;
	height: 106px;
	padding-right: 10px;
	text-align: right;
}
#cpy-shop .shop-info span{
	display: block;
}
#cpy-shop .info-title{
	font-size: 20px;
	color: #333;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
#cpy-shop .info-text{
	font-size: 18px;
	color: #333;
	width: 238px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}
#cpy-shop .info-number{
	font-size: 18px;
	color: #d71e1e;
}
#cpy-shop .info-number strong{
	font-weight: 500;
	margin-left: -4px;
}
#cpy-shop .info-check{
	font-size: 16px;
	color: #FED500;
	cursor: pointer;
}
#cpy-shop .info-check:before{
	content: url(/img/company/check.png);
	position: relative;
	top: 2px;
	right: 5px;
}
/*商品信息审核弹框***/
.Shop{
display: none;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: #aaa;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
}
.MyShop {
display: none;
position: fixed;
width: 682px;
top: 45%;
left: 50%;
margin-top: -275px;
margin-left: -341px;
background-color: #fff;
z-index:1002;
overflow: hidden;
}
.MyShop .check_add{
	width: 100%;
	text-align: left;
}
.MyShop .check_add .cont-box{
	position: relative;
	width: 632px;
	height: 430px;
	top: 0;
	left: 0;
	padding: 25px;
	background: #fff;
}
.MyShop .check_add .cont-box .onClose{
	position: absolute;
	right: 35px;
	top: 25px;
	font-size: 30px;
	color: #333;
	cursor: pointer;
}
.MyShop .check_add .cont-box h2{
	font-size: 26px;
	color: #999;
	font-weight: 500;
	padding: 20px 0 30px;
}
.MyShop .check_add .cont-box .cont_lf{
	float: left;
}
.MyShop .check_add .shop-lf-title span{
	display: block;
	width: 395px;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	color: #333;
	overflow: hidden;
}
.MyShop .check_add .shop-lf-img{
	width: 395px;
	height: 207px;
	background: url(/img/shop_img.png);
}
.MyShop .check_add .shop-lf-depict{
	position: relative;
	margin-top: 20px;
}
.MyShop .check_add .shop-lf-depict textarea{
	width: 395px;
	height: 70px;
	font-size: 20px;
	color: #333;
	resize: none;
	border: none;
	outline: none;
}
.MyShop .check_add .cont_rt{
	float: right;
	margin-right: 30px;
}
.MyShop .check_add .shop-rt-price{
	display: block;
	width: 169px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #333;
	overflow: hidden;
}
.MyShop .check_add .shop-rt-price span{
	font-size: 24px;
	color: #D71E1E;
}
.MyShop .check_add .shop-rt-price strong{
	font-size: 24px;
	color: #D71E1E;
	font-weight: 500;
}
.MyShop .check_add .shop-rt-img{
	width: 169px;
	height: 98px;
	background: url(/img/shop-rt-img.png);
}
.MyShop .check_add .shop-rt-img img{
	display: block;
	width: 169px;
	height: 98px;
}
.MyShop .btn-box{
	position: relative;
	width: 632px;
	height: 150px;
	background: #fff;
	border-top: 1px solid #F2F2F2;
	margin: 0 25px;
}
.MyShop .btn{
	margin-top: 50px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.MyShop .pass{
	width: 108px;
	height: 35px;
	background: #FED500;
	font-size: 16px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	margin-right: 140px;
}
.MyShop .not{
	width: 108px;
	height: 35px;
	background: #fff;
	font-size: 16px;
	color: #FED500;
	border: 1px solid #FED500;
	outline: none;
	cursor: pointer;
}
.MyShop .btn button:hover{
	opacity: .75;
}
/*通过/未通过弹框bg*/
#pass, #not{
display: none;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: #aaa;
z-index:1003;
-moz-opacity: 0.8;
opacity:.80;
}
/*审核通过弹框*/
#MyPass {
display: none;
position: fixed;
width: 470px;
height: 262px;
top: 45%;
left: 50%;
margin-top: -131px;
margin-left: -235px;
background-color: #fff;
z-index:1004;
overflow: hidden;
}
#MyPass .move{
	position: relative;
	height: 140px;
	margin-bottom: 20px;
}
#MyPass .title{
	position: absolute;
	left: 50%;
	margin-left: -50px;
	bottom: 0;
	text-align: center;
}
#MyPass .title img{
	display: block;
	width: 100px;
	height: 100px;
}
#MyPass .list{
	margin-top: 10px;
}
#MyPass .list p{
	font-size: 24px;
	color: #666;
	text-align: center;
}
#MyPass .back{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 30px;
	color: #FED500;
	font-family: simsun;
	padding: 5px 5px 0 0;
}
/*审核未通过弹框*/
#MyNot {
display: none;
position: fixed;
width: 632px;
height: 319px;
top: 45%;
left: 50%;
margin-top: -160px;
margin-left: -316px;
background-color: #fff;
z-index:1004;
overflow: hidden;
}
#MyNot .move{
	position: relative;
	height: 72px;
	border-bottom: 1px solid #EBEBEB;
	margin: 0 35px;
}
#MyNot .title{
	position: absolute;
	width: 88px;
	height: 35px;
	left: 50%;
	margin-left: -36px;
	border-bottom: 4px solid #FED500;
	text-align: center;
	bottom: -1px;
}
#MyNot .title span{
	display: block;
	line-height: 35px;
	font-size: 20px;
	color: #999;
}
#MyNot .list ul{
	padding: 30px;
	padding-left: 45px;
}
#MyNot .list ul li{
	position: relative;
	line-height: 30px;
	font-size: 16px;
	color: #333;
}
#MyNot .list ul li input{
	margin-right: 5px;
	cursor: pointer;
}
#MyNot .list ul li span{
	display: inline-block;
	position: absolute;
	line-height: 10px;
	margin-left: 20px;
}
#MyNot .list ul li textarea{
	width: 175px;
	height: 50px;
	font-size: 14px;
	resize: none;
	outline: none;
	margin-left: 60px;
}
#MyNot .list .last-item{
	margin-top: 5px;
}
#MyNot .list .last-item input{
	position: absolute;
}
#MyNot .btn-send{
	position: absolute;
	right: 90px;
	top: 108px;
	width: 108px;
	height: 35px;
	background: #FED500;
	text-align: center;
}
#MyNot .btn-send a{
	display: block;
	line-height: 35px;
	font-size: 14px;
	color: #fefefe;
}
#MyNot .btn-back{
	position: absolute;
	right: 90px;
	top: 156px;
	width: 106px;
	height: 33px;
	border: 1px solid #FED500;
	text-align: center;
}
#MyNot .btn-back a{
	display: block;
	line-height: 33px;
	font-size: 14px;
	color: #FED500;
}