body{
	background-color: #EBEBEB;
}
#main{
	position: relative;
	width: 100%;
	background-color: #EBEBEB;
}
#main .container{
	width: 1090px;
	margin: 0 auto;
	padding: 44px 0 62px;
	overflow: hidden;
}
/*右侧订单*/
.orders{
	position: relative;
	float: right;
	width: 878px;
	min-height: 500px;
	/*border: 1px solid red;*/
}
/*头部*/
.orders-head{
	position: relative;
	width: 100%;
	height: 60px;	
	background: #fff;
	margin-bottom: 21px;
}
.orders-head ul{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.orders-head li{
	width: 91px;
	height: 35px;
	float: left;
	text-align: center;
	border-bottom: 4px solid transparent;
	margin: 0 25px;
}
.orders-head li{
	border-bottom: 4px solid #FED500;
}
.orders-head li a{
	display: block;
	line-height: 35px;
	font-size: 20px;
	color: #999;
}
/*详情内容*/
.orders-body{
	position: relative;
	width: 100%;
}
/*用户信息******************/
.order-nav .two{
	color: #FED500;
}
#cpy-user{
	display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
}
#cpy-user li{
	position: relative;
    margin-bottom: 8px;
    background: #fff;
    overflow: hidden;
}
#cpy-user .user-info{
	width: 878px;
	height: 94px;
}
#cpy-user .info-lf{
	float: left;
	width: 676px;
	height: 94px;
	border-right: 1px dashed #f2f2f2;
}
#cpy-user .title{
	display: block;
	width: 100%;
	height: 40px;
	overflow: hidden;
}
#cpy-user .title .img-box{
	position: absolute;
}
#cpy-user .title .img-box img{
	display: block;
	width: 533px;
	height: 40px;
}
#cpy-user .title .title-info{
	position: relative;
}
#cpy-user .title-box{
	line-height: 40px;
	font-size: 22px;
	color: #fff;
	margin-left: 25px;
}
#cpy-user .num-box{
	float: right;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	margin-right: 65px;
}
#cpy-user .times-box{
	float: right;
	font-size: 16px;
	color: #666;
	line-height: 40px;
	margin-right: 12px;
}
#cpy-user .addr{
	display: block;
	width: 100%;
	height: 54px;
	border-top: 1px solid #d6d6d6;
	overflow: hidden;
	margin-top: -1px;
}
#cpy-user .default{
	line-height: 54px;
	font-size: 16px;
	color: #FED500;
	margin-left: 10px;
	margin-right: 15px;
}
#cpy-user .address{
	line-height: 54px;
	font-size: 16px;
	color: #666;
}
#cpy-user .spread{
	float: right;
	width: 16px;
	height: 12px;
	background: url(../img/company/user_spr.png);
	margin-right: 15px;
	margin-top: 19px;
	cursor: pointer;
}
#cpy-user .info-rt{
	text-align: center;
}
