/*TOP*/
#topbar{
	position: relative;
	width: 100%;
	height: 44px;
	background-color: #333;
}
#topbar .container{
	width: 1090px;
	margin: 0 auto;
}
#topbar .left-part{
	float: left;
	height: 44px;
	line-height: 44px;
}
#topbar .dw{
	display: block;
	color: #e6e6e6;
	font-size: 16px;
	transition: .3s all;
}
#topbar .dw:hover{
	opacity: .65;
	transition: .3s all;
}
#topbar .dw i{
	position: relative;
	display: inline-block;
	width: 21px;
	height: 21px;
	top: 5px;
	background: url(../img/zb.png) no-repeat;
}
/*下拉框*/
#topbar .right-part{
	position: relative;
	float: right;
	height: 44px;
	line-height: 44px;
}
#topbar .right-part li{
	float: left;
	display: inline-block;
	font-size: 16px;
}
#topbar .top-nav-my{
	/*background: #fff;*/
	color: #e6e6e6;
	width: 70px;
}
#topbar .top-nav-my:after{
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-top: 4px solid #E6E6E6;
	top: 22px;
}
#topbar .top-nav-my ul{
	display: none;
	position: absolute;
	/*top: 42px;*/
	/*padding-left: -5px;*/
	width: 75px;
	background: #fff;
	text-align: center;
	z-index: 3;
	border: 1px solid #E6E6E6;
	border-top: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	transition: .2s all;
}
#topbar .top-nav-my:hover .nav-js{
	display: block;
	transition: 2s all;
}
#topbar .top-nav-my ul li{
	display: block;
	width: 100%;
	height: 30px;
	font-size: 16px;
	transition: .2s all;
}
#topbar .top-nav-my ul li:hover a{
	background: #FED500;
	color: #fff;
	transition: .2s all;
}
#topbar .top-nav-my ul li a{
	display: block;
	line-height: 30px;
	font-size: 14px;
	color: #333;
}
#topbar .right-part a{
	display: inline-block;
	color: #e6e6e6;
	transition: .3s all;
}
#topbar .right-part .ty:hover{
	opacity: .65;
	transition: .3s all;
}
#topbar .hover-code img{
	position: absolute;
	display: none;
	width: 100px;
	height: 100px;
	right: 77px;
	margin-top: 10px;
	z-index: 9;
}
#topbar .hover-code{
	/*transition: .3s all;*/
}
#topbar .hover-code:hover .wx-code{
	display: block;
	transition: .3s all;
}
#topbar .right-part .boss{
	position: relative;
	color: #FED500;
}
#topbar .right-part span{
	color: #5a5a5a;
	margin: 0 5px;
}
/*头部logo部分*/
#header{
	position: relative;
	width: 100%;
	height: 82px;
	background: #fff;
}
#header .container{
	position:relative;
	width: 1090px;
	margin: 0 auto;
}

#header .logo{
	float: left;
}
#header .logo>a{
	display: inline-block;
	width: 251px;
	height: 53px;
	margin-top: 16px;
	background: url(../img/logo.png) no-repeat;
}
#header .tui{
	float: right;
	margin: 13px 0 0;
}
#header .tui a{
	display: block;
}
#header .tui a img{
	width: 53px;
	height: 53px;
}
#header .pei{
	float: right;
	margin: 15px 15px 0;
}
#header .pei a{
	display: block;
}
#header .pei a img{
	width: 48px;
	height: 48px;
}
#header .tui .refund{
	display: none;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	box-shadow: 0 0 2px #dfdfdf;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #313137;
	position: absolute;
	right: -43px;
	padding: 0 12px;
	z-index: 999;
	text-align: left;
	white-space: nowrap;
}
#header .pei .mid{
	display: none;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	box-shadow: 0 0 2px #dfdfdf;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #313137;
	position: absolute;
	right: 8px;
	padding: 0 12px;
	z-index: 999;
	text-align: left;
	white-space: nowrap;
	margin-top: 3px;
}
#header .cart{
	float: right;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}
#header .cart>a{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/gwc.png) no-repeat;
	margin-top: 22px;
	transition: .3s all;
}
#header .cart>a:hover{
	opacity: .65;
	transition: .3s all;
}
#header .search{
	position: relative;
	display: inline-block;
	float: right;
	width: 285px;
	height: 42px;
	margin-top: 15px;
}
#header .search input{
	position: absolute;
	display: inline-block;
	width: 215px;
	height: 26px;
	line-height: 26px;
	border: 0;
	border-bottom: 1px solid #333;
	top: 7.5px;
	outline: none;
	padding: 0 15px;
	transition: .3s all;
}
#header .search input:hover{
	opacity: .65;
	transition: .3s all;
}
#header .search a{
	position: absolute;
	right: 0;
	width: 32px;
	height: 32px;
	background: url(../img/fdj.png) 0 3.5px no-repeat;
	top: 7.5px;
	transition: .3s all;
}
#header .search a:hover{
	opacity: .65;
	transition: .3s all;
}
#header .prompt{
	position: absolute;
	top: 52px;
	right: 182px;
	width: 265px;
	height: 20px;
	text-align: left;
	padding: 0 10px;
	overflow: hidden;
}
#header .prompt a{
	display: inline-block;
	font-size: 12px;
	color: #999;
	line-height: 20px;
	margin-right: 10px;
}
#header .prompt a:hover{
	color: #FED500;
}
/*页面开始*/
#main{
	position: relative;
	width: 100%;
	background-color: #EBEBEB;
}
#main .container{
	width: 1090px;
	/*min-height: 1000px;*/
	margin: 0 auto;
	padding: 44px 0 62px;
	overflow: hidden;
}
/*左侧导航*/
#main .order-nav{
	position: relative;
	float: left;
	width: 200px;
	min-height: 700px;
	background: #fff;
}
.order-nav dl{
	padding: 40px 40px 45px 60px;
	text-align: left;
}
.order-nav dt{
	font-size: 20px;
	font-weight: bold;
	color: #333;
}
.order-nav dd{
	padding-top: 15px;
	color: #C8C8C8;
}
.order-nav dd a{
	font-size: 16px;
	color: #999;
	transition: .2s all;
}
.order-nav dd a:hover{
	color: #FED500;
	transition: .2s all;
}
.order-nav .order{
	padding-bottom: 5px;
}
.order-nav .vip{
	padding-top: 40px;
	padding-bottom: 5px;
}
.order-nav .profile{
	padding-top: 40px;
	padding-bottom: 5px;
}
/*右侧订单*/
.orders{
	position: relative;
	float: right;
	width: 878px;
	min-height: 500px;
}
/*头部*/
.orders-head{
	position: relative;
	width: 100%;
	height: 60px;	
	background: #fff;
	margin-bottom: 21px;
}
.orders-head ul{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.orders-head li{
	width: 121px;
	height: 35px;
	float: left;
	text-align: center;
	border-bottom: 4px solid transparent;
	margin: 0 25px;
}
.orders-head li{
	border-bottom: 4px solid #FED500;
}
.orders-head li a{
	display: block;
	line-height: 35px;
	font-size: 20px;
	color: #999;
}
/*详情内容*/
.orders-body{
	position: relative;
	width: 100%;
}
/*地址管理***************************/
#address{
	padding: 24px 24px 80px;
	background: #fff;
}
#address h3{
	font-size: 16px;
	color: #FED500;
	font-weight: 500;
	margin-bottom: 10px;
}
.address{
	display: flex;
	flex-wrap: wrap;
	margin-right: -8px;
	margin-bottom: -8px;
}
.address li:first-child{
	border: 1px solid #FED500;
}
.address li{
	position: relative;
	width: 385px;
	height: 108px;
	padding: 16px 12px;
	border: 1px solid #e2e2e2;
	margin-right: 8px;
	margin-bottom: 8px;
	overflow: hidden;
}
.address li .alter{
	position: absolute;
	display: block;
	width: 17px;
	height: 20px;
	top: 17px;
	right: 13px;
	background: url(../img/ul_alter.png);
}
.address li .alter:hover{
	background: url(../img/form_alter.png);
}
.address li .delete{
	position: absolute;
	display: block;
	width: 11px;
	height: 11px;
	bottom: 16px;
	right: 12px;
	background: url(../img/ul_delete.png);
}
.address li p{
	margin: 2px 0;
	font-size: 18px;
	color: #333;
}
.address li span{
	font-size: 18px;
	color: #666;
}
.address .user{
	display: inline-block;
	margin-right: 8px;
}
.address .region{
	display: inline-block;
	margin-right: 15px;
}
.address .street{
	display: inline-block;
}
.address .new{
	background: #fff;
}
.address .new:hover{
	background: #fbfbfb;
	transition: .2s all;
}
.address .new a{
	display: block;
	line-height: 142px;
	/*margin-top: -19px;*/
	margin: -19px -13px 0;
	text-align: center;
}
.address .new a p:before{
	content: url(../img/ul_new.png);
	position: relative;
	top: 3px;
	right: 12px;
}
/*弹框*************************/
.black_overlay{
display: none;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: #aaa;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
/*filter: alpha(opacity=80);*/
}
.white_content{
display: none;
position: fixed;
width: 632px;
top: 45%;
left: 50%;
margin-top: -152px;
margin-left: -351px;
padding: 0 35px 0;
background-color: #fff;
z-index:1002;
overflow: hidden;
}
/*新增地址弹框***/
#MyAdd input:focus{
	border-color: #FED500;
}
#MyAdd{
	/*padding: 20px 25px 20px;*/
	padding-bottom: 20px;
}
#MyAdd .move{
	position: relative;
	height: 72px;
	border-bottom: 1px solid #EBEBEB;
}
#MyAdd .title{
	position: absolute;
	width: 120px;
	height: 35px;
	left: 50%;
	bottom: 0;
	margin-left: -60px;
	border-bottom: 4px solid #FED500;
	text-align: center;
	bottom: -1px;
}
#MyAdd .title span{
	display: block;
	line-height: 35px;
	font-size: 20px;
	color: #999;
}
#MyAdd p{
	position: relative;
	margin-top: 15px;
	font-size: 18px;
	color: #999;
}
#MyAdd label{
	display: inline-block;
	width: 100px;
	font-size: 18px;
	color: #999;
	text-align: right;
}
#MyAdd input{
	width: 130px;
	height: 26px;
	margin-left: 27px;
	padding: 0 5px;
	font-size: 14px;
	color: #666;
	border: 1px solid #999;
	outline: none;
}
#MyAdd p a{
	position: absolute;
	display: inline-block;
	background: url(../img/form_alter.png);
	width: 17px;
	height: 20px;
	margin: 5px 0 0 20px;
}
#MyAdd .phone{
	margin-bottom: 15px;
}
#MyAdd .addr{
	margin: 15px 0 15px;
}
#MyAdd .addr input{
	margin-bottom: 5px;
}
#MyAdd .user select{
	width: 50px;
	height: 27.5px;
	outline: none;
	font-size: 13px;
	color: #666;
}
#MyAdd .submit{
	margin-top: 10px;
	display: block;
	width: 116px;
	height: 35px;
	background: #FED500;
	color: #fff;
	border: none;
	margin-left: 132px;
}
#MyAdd .close{
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 30px;
}
/*修改地址弹框***/
#MyTake input:focus{
	border-color: #FED500;
}
#MyTake{
	padding-bottom: 20px;
}
#MyTake .move{
	position: relative;
	height: 72px;
	border-bottom: 1px solid #EBEBEB;
}
#MyTake .title{
	position: absolute;
	width: 120px;
	height: 35px;
	left: 50%;
	bottom: 0;
	margin-left: -60px;
	border-bottom: 4px solid #FED500;
	text-align: center;
	bottom: -1px;
}
#MyTake .title span{
	display: block;
	line-height: 35px;
	font-size: 20px;
	color: #999;
}
#MyTake p{
	position: relative;
	margin-top: 15px;
	font-size: 18px;
	color: #999;
}
#MyTake label{
	display: inline-block;
	width: 100px;
	font-size: 18px;
	color: #999;
	text-align: right;
}
#MyTake input{
	width: 130px;
	height: 26px;
	margin-left: 27px;
	padding: 0 5px;
	font-size: 14px;
	color: #666;
	border: 1px solid #999;
	outline: none;
}
#MyTake p a{
	position: absolute;
	display: inline-block;
	background: url(../img/form_alter.png);
	width: 17px;
	height: 20px;
	margin: 5px 0 0 20px;
}
#MyTake .phone{
	margin-bottom: 15px;
}
#MyTake .addr{
	margin: 15px 0 15px;
}
#MyTake .addr input{
	margin-bottom: 5px;
}
#MyTake .user select{
	width: 50px;
	height: 27.5px;
	outline: none;
	font-size: 13px;
	color: #666;
}
#MyTake .submit{
	margin-top: 10px;
	display: block;
	width: 116px;
	height: 35px;
	background: #FED500;
	color: #fff;
	border: none;
	margin-left: 132px;
}
#MyTake .close{
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 30px;
}
#MyDelete{
	display: none;
	position: fixed;
	width: 450px;
	height: 260px;
	top: 45%;
	left: 50%;
	margin-top: -130px;
	margin-left: -225px;
	padding: 0 35px 0;
	background-color: #fff;
	z-index:1002;
	overflow: hidden;
}
#MyDelete p {
	display: block;
	padding:70px 0 30px;
	text-align: center;
	font-size:20px;
	color: #666;
}
#MyDelete .btn-box{
	margin-top:20px;
	height:35px;
	line-height:35px;
	text-align: center;
}
#MyDelete .btn-box button{
	width:115px;
	height:35px;
	border:none;
	outline:none;
	cursor: pointer;
}
#MyDelete .btn-box button:hover{
	opacity:.85;
}
#MyDelete .btn-box .yes{
	font-size:18px;
	color: #fff;
	background: #FED500;
	margin-right:80px;
}
#MyDelete .btn-box .no{
	width:113px;
	height:33px;
	font-size:18px;
	color: #FED500;
	background: #fff;
	border:1px solid #FED500;
}