 /*TOP*/
#topbar{
	position: relative;
	width: 100%;
	height: 44px;
	background-color: #333;
}
#topbar .container{
	width: 1090px;
	margin: 0 auto;
}
#topbar .left-part{
	float: left;
	height: 44px;
	line-height: 44px;
}
#topbar .dw{
	display: block;
	color: #e6e6e6;
	font-size: 16px;
	transition: .3s all;
}
#topbar .dw:hover{
	opacity: .65;
	transition: .3s all;
}
#topbar .dw i{
	position: relative;
	display: inline-block;
	width: 21px;
	height: 21px;
	top: 5px;
	background: url(../img/zb.png) no-repeat;
}
/*下拉框*/
#topbar .right-part{
	position: relative;
	float: right;
	height: 44px;
	line-height: 44px;
}
#topbar .right-part li{
	float: left;
	display: inline-block;
	font-size: 16px;
}
#topbar .top-nav-my{
	/*background: #fff;*/
	color: #e6e6e6;
	width: 70px;
}
#topbar .top-nav-my:after{
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-top: 4px solid #E6E6E6;
	top: 22px;
}
#topbar .top-nav-my ul{
	display: none;
	position: absolute;
	/*top: 42px;*/
	/*padding-left: -5px;*/
	width: 75px;
	background: #fff;
	text-align: center;
	z-index: 3;
	border: 1px solid #E6E6E6;
	border-top: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	transition: .2s all;
}
#topbar .top-nav-my:hover .nav-js{
	display: block;
	transition: 2s all;
}
#topbar .top-nav-my ul li{
	display: block;
	width: 100%;
	height: 30px;
	font-size: 16px;
	transition: .2s all;
}
#topbar .top-nav-my ul li:hover a{
	background: #FED500;
	color: #fff;
	transition: .2s all;
}
#topbar .top-nav-my ul li a{
	display: block;
	line-height: 30px;
	font-size: 14px;
	color: #333;
}
#topbar .right-part a{
	display: inline-block;
	color: #e6e6e6;
	transition: .3s all;
}
#topbar .right-part .ty:hover{
	opacity: .65;
	transition: .3s all;
}
#topbar .hover-code img{
	position: absolute;
	display: none;
	width: 100px;
	height: 100px;
	right: 77px;
	margin-top: 10px;
	z-index: 9;
}
#topbar .hover-code{
	/*transition: .3s all;*/
}
#topbar .hover-code:hover .wx-code{
	display: block;
	transition: .3s all;
}
#topbar .right-part .boss{
	position: relative;
	color: #FED500;
}
#topbar .right-part span{
	color: #5a5a5a;
	margin: 0 5px;
}
/*头部logo部分*/
#header{
	position: relative;
	width: 100%;
	height: 82px;
	background: #fff;
}
#header .container{
	position:relative;
	width: 1090px;
	margin: 0 auto;
}

#header .logo{
	float: left;
}
#header .logo>a{
	display: inline-block;
	width: 251px;
	height: 53px;
	margin-top: 16px;
	background: url(../img/logo.png) no-repeat;
}
#header .tui{
	float: right;
	margin: 13px 0 0;
}
#header .tui a{
	display: block;
}
#header .tui a img{
	width: 53px;
	height: 53px;
}
#header .pei{
	float: right;
	margin: 15px 15px 0;
}
#header .pei a{
	display: block;
}
#header .pei a img{
	width: 48px;
	height: 48px;
}
#header .tui .refund{
	display: none;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	box-shadow: 0 0 2px #dfdfdf;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #313137;
	position: absolute;
	right: -43px;
	padding: 0 12px;
	z-index: 999;
	text-align: left;
	white-space: nowrap;
}
#header .pei .mid{
	display: none;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	box-shadow: 0 0 2px #dfdfdf;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #313137;
	position: absolute;
	right: 8px;
	padding: 0 12px;
	z-index: 999;
	text-align: left;
	white-space: nowrap;
	margin-top: 3px;
}
#header .cart{
	float: right;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}
#header .cart>a{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/gwc.png) no-repeat;
	margin-top: 22px;
	transition: .3s all;
}
#header .cart>a:hover{
	opacity: .65;
	transition: .3s all;
}
#header .search{
	position: relative;
	display: inline-block;
	float: right;
	width: 285px;
	height: 42px;
	margin-top: 15px;
}
#header .search input{
	position: absolute;
	display: inline-block;
	width: 215px;
	height: 26px;
	line-height: 26px;
	border: 0;
	border-bottom: 1px solid #333;
	top: 7.5px;
	outline: none;
	padding: 0 15px;
	transition: .3s all;
}
#header .search input:hover{
	opacity: .65;
	transition: .3s all;
}
#header .search a{
	position: absolute;
	right: 0;
	width: 32px;
	height: 32px;
	background: url(../img/fdj.png) 0 3.5px no-repeat;
	top: 7.5px;
	transition: .3s all;
}
#header .search a:hover{
	opacity: .65;
	transition: .3s all;
}
#header .prompt{
	position: absolute;
	top: 52px;
	right: 182px;
	width: 265px;
	height: 20px;
	text-align: left;
	padding: 0 10px;
	overflow: hidden;
}
#header .prompt a{
	display: inline-block;
	font-size: 12px;
	color: #999;
	line-height: 20px;
	margin-right: 10px;
}
#header .prompt a:hover{
	color: #FED500;
}
/*页面开始*/
#main{
	position: relative;
	width: 100%;
	background-color: #EBEBEB;
}
#main .container{
	width: 1090px;
	/*min-height: 1000px;*/
	margin: 0 auto;
	padding: 44px 0 62px;
	overflow: hidden;
}
/*左侧导航*/
#main .order-nav{
	position: relative;
	float: left;
	width: 200px;
	min-height: 700px;
	background: #fff;
}
.order-nav dl{
	padding: 40px 40px 45px 60px;
	text-align: left;
}
.order-nav dt{
	font-size: 20px;
	font-weight: bold;
	color: #333;
}
.order-nav dd{
	padding-top: 15px;
	color: #C8C8C8;
}
.order-nav dd a{
	font-size: 16px;
	color: #999;
	transition: .2s all;
}
.order-nav dd a:hover{
	color: #FED500;
	transition: .2s all;
}
.order-nav .order{
	padding-bottom: 5px;
}
.order-nav .vip{
	padding-top: 40px;
	padding-bottom: 5px;
}
.order-nav .profile{
	padding-top: 40px;
	padding-bottom: 5px;
}
/*右侧订单*/
.orders{
	position: relative;
	float: right;
	width: 878px;
	min-height: 500px;
	/*border: 1px solid red;*/
}
/*头部*/
.orders-head{
	position: relative;
	width: 100%;
	height: 60px;	
	background: #fff;
	margin-bottom: 21px;
}
.orders-head ul{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.orders-head li{
	width: 121px;
	height: 35px;
	float: left;
	text-align: center;
	border-bottom: 4px solid transparent;
	margin: 0 25px;
}
.orders-head li{
	border-bottom: 4px solid #FED500;
}
.orders-head li a{
	display: block;
	line-height: 35px;
	font-size: 20px;
	color: #999;
}
/*详情内容*/
.orders-body{
	position: relative;
	width: 100%;
}
/*企业福利订单******************/
#for_boon{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -8px;
}
#for_boon li{
	position: relative;
	margin-bottom: 8px;
	background: #fff;
	overflow: hidden;
}
#for_boon .img-box{
	float: left;
	position: absolute;
}
#for_boon .img-box img{
	display: block;
	width: 607px;
	height: 153px;
}
#for_boon .content{
	position: relative;
	width: 830px;
	height: 117px;
	padding: 18px 24px 18px;
	color: #fff;
}
#for_boon .info-box{
	float: left;
	width: 500px;
}
#for_boon .title{
	display: block;
	height: 30px;
	font-size: 22px;
	color: #fff;
	margin-top: -5px;
	overflow: hidden;
}
#for_boon .title-list{
	display: block;
	height: 30px;
	font-size: 22px;
	color: #fff;
	overflow: hidden;
}
#for_boon .title-list span{
	margin-right: 8px;
}
#for_boon .str p{
	display: inline-block;
	color: #fff;
}
#for_boon .str p strong{
	font-size: 16px;
	color: #333;
	font-weight: 500;
}
#for_boon .maybe{
	width: 100px;
	font-size: 14px;
	/*color: #333;*/
}
#for_boon .time{
	width: 100px;
	font-size: 14px;
	/*color: #999;*/
}
#for_boon .spread{
	display: block;
	width: 14px;
	height: 11px;
	background: url(../img/custom_spr.png);
	margin: 3px 0 0 2px;
	cursor: pointer;
}
#for_boon .end{
	float: right;
	width: 90px;
}
#for_boon .end .state{
	text-align: center;
	margin: 5px 7px 0;
}
#for_boon .end .state a{
	display: block;
	font-size: 14px;
	color: #FED500;
}
#for_boon .end .price{
	text-align: center;
	margin: 20px 18px 16px;
}
#for_boon .end .price a{
	display: block;
	font-size: 18px;
	color: #d71e1e;
	font-weight: bold;
}
#for_boon .end .btn-again{
	width: 88px;
	height: 33px;
	text-align: center;
	background: #FED500;
	border-radius: 20px;
}
#for_boon .end .btn-again a{
	display: block;
	line-height: 33px;
	font-size: 12px;
	color: #fff;
}
/*订单详情hidden*/
.boon-info{
	position: relative;
	width: 878px;
	
}
.boon-info .box-info{
	float: left;
	width: 704px;
	padding: 0 10px;
	border-right: 1px dashed #f2f2f2;
}
.boon-info .text{
	font-size: 16px;
	color: #666;
	min-height: 75px;
	padding: 5px 15px 0;
	border-bottom: 1px dashed #E6E6E6;
}
.boon-info .times{
	line-height: 35px;
	padding: 0 15px;
}
.boon-info .times span{
	display: inline-block;
	font-size: 16px;
	color: #666;
}
.boon-info .times div{
	display: inline-block;
	width: 25px;
	height: 5px;
	border-top: 1px solid #e6e6e6;
}
.boon-info .addr{
	font-size: 20px;
	color: #FED500;
	line-height: 55px;
	padding: 0 10px;
	border-top: 1px dashed #FFEE99;
}
.boon-info .addr .phone{
	float: right;
	font-size: 18px;
}
.boon-info .info-rt{
	float: right;
	width: 153px;
	text-align: center;
}
.boon-info .info-rt .name{
	margin-top: 50%;
	font-size: 20px;
	color: #FED500;
}
.boon-info .info-rt .sex{
	font-size: 16px;
	color: #FED500;
}