body{
	background-color: #eaeaea;
}
#main{
	position: relative;
	width: 100%;
	/*min-height: 1000px;*/
	background-color: #EBEBEB;
	margin-top: 20px;
}
/*nav*/
#nav{
	position: relative;
	width: 100%;
	height: 95px;
}
/*第一个导航条*/
#nav .menu1{
	position: relative;
	width: 100%;
	height: 62px;
	background: #fff;
}
#nav .menu1 .container{
	width: 1090px;
	margin: 0 auto;
}
#nav .menu1 .logo{
	float: left;
}
#nav .menu1 .logo a{
	display: inline-block;
	width: 113px;
	height: 21px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 15px;
	background: url(../img/open/open-logo.png) no-repeat;
}
#nav .menu1 .menu-rt{
	float: left;
	margin-top: 12px;
}
#nav .menu1 .menu-rt>div{
	float: left;
	width: 150px;
	height: 38px;
	text-align: center;
	border-right: 1px solid #FED500;
}
#nav .menu1 .menu-rt a{
	display: block;
	line-height: 25px;
	font-size: 16px;
	color: #666;
	margin-top: 6.5px;
	transition: .3s all;
}
#nav .menu1 .menu-rt div:hover{
	background: #FED70D;
	color: #fff;
	transition: .2s all;
}
#nav .menu1 .menu-rt div:hover a{
	color: #fff;
}
/*第二个导航条*/
#nav .menu2{
	position: relative;
	width: 100%;
	height: 33px;
	background: #FBFCFE;
	margin-bottom: 8px;
}
#nav .menu2 .container{
	width: 1090px;
	margin: 0 auto;
}
#nav .menu-less{
	margin-left: 137px;
}
#nav .menu-less a{
	display: inline-block;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	color: #999;
	padding: 0 40px 0;
	transition: .2s all;
}
#nav .menu-less a:hover{
	background: #DCDCDC;
	color: #fff;
	transition: .2s all;
}
/*活动详情*/
#main-box{
	position: relative;
	width: 1090px;
	/*min-height: 500px;*/
	margin: 0 auto;
}
#main-box .container{
	position: relative;
	width: 100%;
	padding: 12px 0 110px;
}
#main-box ul{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -8px;
}
#main-box ul li{
	position: relative;
	width: 541px;
	height: 347px;
	margin-bottom: 8px;
	background: #fff;
	overflow: hidden;
}
#main-box ul li:nth-child(odd){
	margin-right: 8px;
}
#main-box .img-box{
	display: inline-block;
}
#main-box .img-box{
	display: block;
}
#main-box .img-box img{
	display: inline-block;
	width: 525px;
	height: 273px;
	padding: 8px 8px 0;
}
#main-box .title-box{
	display: inline-block;
	padding: 0 8px;
}
#main-box .title-box span{
	width: 300px;
	font-size: 16px;
	color: #999;
}
#main-box .title-box p{
	width: 300px;
	font-size: 18px;
	color: #333;
	padding: 5px 0;
}
#main-box .ab{
	float: right;
	margin-right: 15px;
}
#main-box .ab img{
	display: block;
	cursor: pointer;
}
#main-box .ab img:hover{
	background: url(../img/open/open_up.png) no-repeat;
}
#main-box .ab strong{
	display: block;
	margin-top: 5px;
	font-size: 14px;
	color: #FED500;
}







/*#main-box .more-line{
	position: relative;
	padding: 10px 0 54px;
	text-align: center;
}
#main-box .more-line a{
	display: inline-block;
	font-size: 16px;
	color: #999;
	width: 100%;
	padding: 18px 0;
	background: #fff;
}
#main-box .more-line a:hover{
	opacity: .75;
}*/