body{
    background: #F7F8FA;
}
/*头部logo*/
#header{
    position: relative;
    width: 100%;
    height: 85px;
    background: #fff;
}
#header .container{
    width: 1090px;
    margin: 0 auto;
}
#header .logo{
    float: left;
}
#header .logo a{
    display: inline-block;
    width: 251px;
    height: 53px;
    margin-top: 16px;
    background: url(../img/logo.png) no-repeat;
}
#header .head-title{
    display: inline-block;
    float: left;
    text-align: center;
    height: 85px;
    line-height: 85px;
    font-weight: bold;
    font-size: 53px;
    color: #000;
    margin-left: 15px;
}
/*页脚*/
footer{
    width:100%;
    padding: 40px 0 20px;
    background: #333;
}
footer div{
    margin:0 auto;
    text-align: center;
    font-size: 14px;
    color:#999;
    margin-bottom:7px;
}
/*头部付款信息*/
#nav{
    position: relative;
    width: 100%;
    height: 117px;
    background: #333;
}
#nav .container{
    width: 1090px;
    margin: 0 auto;
}
#nav .container span{
    display: inline-block;
    font-size: 20px;
    color: #fff;
}
#nav .order-lf{
    float: left;
    height: 117px;
}
#nav .order-num{
    margin-left: 53px;
    line-height: 70px;
}
#nav .order-num strong{
    font-weight: 500;
}
#nav .container .order-type{
    display: block;
    margin-left: 53px;
}
#nav .order-rt{
    float: right;
    height: 117px;
    line-height: 117px;
    padding-right: 80px;
}
#nav .pay-title{
    display: inline-block;
}
#nav .container .pay-sum{
    display: inline-block;
    font-size: 20px;
    color: #F74342;
}
#nav .pay-sum strong{
    font-size: 30px;
    color: #f74342;
}
/*页面主体*/
#main{
    width: 1090px;
    margin: 0 auto;
}
#main .content{
    width: 880;
    padding: 80px 105px;
}
#main .pay-head{
    width: 100%;
    height: 32px;
    background: #fff;
    margin-bottom: 8px;
    box-shadow:0px 0px 5px #E1E1E1;
}
#main .pay-head ul li{
    float: left;
    width: 145px;
    height: 30px;
    text-align: center;
    border: 1px solid transparent;
}
#main .pay-head ul li:hover{
    border-color: #FED500;
}
#main .pay-head ul li a{
    display: block;
    line-height: 30px;
    font-size: 20px;
    color: #999;
}
#main .pay-head ul li.wx-item a{
    display: block;
    background: url(../img/pay/wx-pic.png);
    width: 145px;
    height: 30px;
}
#main .pay-head ul li.ali-item a{
    display: block;
    background: url(../img/pay/ali-pic.png);
    width: 145px;
    height: 30px;
}
#main .pay-body{
    width: 100%;
    height: 326px;
    background: #fff;
    box-shadow:0px 0px 5px #E1E1E1;
}
#main h3{
    display: block;
    font-size: 30px;
    color: #333;
    font-weight: 500;
    padding: 20px 20px;
}
#main .pay-code{
    display: block;
    width: 136px;
    height: 136px;
    margin: 0 auto;
}
#main .pay-code img{
    display: block;
    width: 136px;
    height: 136px;
}
#main .pay-body>p{
    font-size: 22px;
    color: #333;
    text-align: center;
}
#main .pay-body>p:first-child{
    margin-top: 5px;
}
/*弹框*/
.black_overlay{
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    /*filter: alpha(opacity=80);*/
}
/*支付成功弹框*/
#MySucced {
    display: block;
    position: fixed;
    width: 470px;
    height: 262px;
    top: 45%;
    left: 50%;
    margin-top: -131px;
    margin-left: -235px;
    background-color: #fff;
    z-index:1002;
    overflow: hidden;
}
#MySucced .move{
    position: relative;
    height: 140px;
    margin-bottom: 20px;
}
#MySucced .title{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    text-align: center;
}
#MySucced .title img{
    display: block;
    width: 100px;
    height: 100px;
}
#MySucced .list{
    margin-top: 10px;
}
#MySucced .list p{
    font-size: 24px;
    color: #666;
    text-align: center;
}
#MySucced .list .jsp{
    margin-top: 15px;
    font-size: 18px;
    color: #666;
    text-align: center;
}
#MySucced .back{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 30px;
    color: #FED500;
    font-family: simsun;
    padding: 5px 5px 0 0;
}