/*头部logo部分*/
#header{
	position: relative;
	width: 100%;
	height: 82px;
	background: #fff;
	border-bottom: 1px solid #E1E1E1;
}
#header .container{
	position:relative;
	width: 1090px;
	margin: 0 auto;
}
#header .logo{
	float: left;
}
#header .logo>a{
	display: inline-block;
	width: 251px;
	height: 53px;
	margin-top: 16px;
	background: url(../img/logo.png) no-repeat;
}
#header .tui{
	float: right;
	margin: 13px 0 0;
}
#header .tui a{
	display: block;
}
#header .tui a img{
	width: 53px;
	height: 53px;
}
#header .pei{
	float: right;
	margin: 15px 15px 0;
}
#header .pei a{
	display: block;
}
#header .pei a img{
	width: 48px;
	height: 48px;
}
#header .tui .refund{
	display: none;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	box-shadow: 0 0 2px #dfdfdf;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #313137;
	position: absolute;
	right: -43px;
	padding: 0 12px;
	z-index: 999;
	text-align: left;
	white-space: nowrap;
}
#header .pei .mid{
	display: none;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	box-shadow: 0 0 2px #dfdfdf;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #313137;
	position: absolute;
	right: 8px;
	padding: 0 12px;
	z-index: 999;
	text-align: left;
	white-space: nowrap;
	margin-top: 3px;
}
#header .cart{
	float: right;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}
#header .cart>a{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/gwc.png) no-repeat;
	margin-top: 22px;
	transition: .3s all;
}
#header .cart>a:hover{
	opacity: .65;
	transition: .3s all;
}
#header .search{
	position: relative;
	display: inline-block;
	float: right;
	width: 285px;
	height: 42px;
	margin-top: 15px;
}
#header .search input{
	position: absolute;
	display: inline-block;
	width: 215px;
	height: 26px;
	line-height: 26px;
	border: 0;
	border-bottom: 1px solid #333;
	top: 7.5px;
	outline: none;
	padding: 0 15px;
	transition: .3s all;
}
#header .search input:hover{
	opacity: .65;
	transition: .3s all;
}
#header .search a{
	position: absolute;
	right: 0;
	width: 32px;
	height: 32px;
	background: url(../img/fdj.png) 0 3.5px no-repeat;
	top: 7.5px;
	transition: .3s all;
}
#header .search a:hover{
	opacity: .65;
	transition: .3s all;
}
#header .prompt{
	position: absolute;
	top: 52px;
	right: 182px;
	width: 265px;
	height: 20px;
	text-align: left;
	padding: 0 10px;
	overflow: hidden;
}
#header .prompt a{
	display: inline-block;
	font-size: 12px;
	color: #999;
	line-height: 20px;
	margin-right: 10px;
}
#header .prompt a:hover{
	color: #FED500;
}
/*页面主体*/
#main{
	width: 1090px;
	margin: 0 auto;
	padding-top: 30px;
}
#main .content{
    border: 1px solid #eee;
    padding: 50px 0;
}
#main .result-box{
	position: relative;
	background: #fff;
	margin-left: 280px;
    text-align: left;
}
#main .result-box .adopt{
	display: inline-block;
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../img/pay/adopt.png);
}
#main .result-box>h3{
	display: inline-block;
	font-size: 24px;
	line-height: 32px;
	padding-left: 40px;
	margin-bottom: 8px;
}
#main .result-box>p{
	font-size: 12px;
	color: #666;
	margin: 8px 0;
}
#main .result-box>p a{
	font-size: 12px;
	color: #FED500;
}
#main .result-box .btn{
	width: 140px;
	height: 32px;
	background: #FED500;
	text-align: center;
	margin-top: 10px;
}
#main .result-box .btn a{
	display: block;
	line-height: 32px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
#main .result-box .btn a:hover{
	opacity: .85;
}
#main .detailbox{
	width: 100%;
	margin-top: 20px;
}
#main .detail-title{
	color: #333;
    padding: 0 20px;
    background: #eee;
    line-height: 36px;
    font-weight: 700;
}
#main .detail-content{
	color: #666;
    padding: 20px;
    border: 1px solid #eee;
    overflow: hidden;
}
#main .order-num strong{
	font-weight: 500;
}
#main .wx-code{
	float: right;
}
#main .wx-code img{
	display: block;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
#main .wx-info{
	float: right;
	margin-right: 15px;
	margin-top: 40px;
}
