/*TOP*/
#topbar {
    position: relative;
    width: 100%;
    height: 44px;
    background-color: #333;
}

#topbar .container {
    width: 1090px;
    margin: 0 auto;
}

#topbar .left-part {
    float: left;
    height: 44px;
    line-height: 44px;
}

#topbar .dw {
    display: block;
    color: #e6e6e6;
    font-size: 16px;
    transition: .3s all;
}

#topbar .dw:hover {
    opacity: .65;
    transition: .3s all;
}

#topbar .dw i {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 21px;
    top: 5px;
    background: url(../img/zb.png) no-repeat;
}

/*下拉框*/
#topbar .right-part {
    position: relative;
    float: right;
    height: 44px;
    line-height: 44px;
}

#topbar .right-part li {
    float: left;
    display: inline-block;
    font-size: 16px;
}

#topbar .top-nav-my {
    /*background: #fff;*/
    color: #e6e6e6;
    width: 70px;
}

#topbar .top-nav-my:after {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-top: 4px solid #E6E6E6;
    top: 22px;
}

#topbar .top-nav-my ul {
    display: none;
    position: absolute;
    /*top: 42px;*/
    /*padding-left: -5px;*/
    width: 75px;
    background: #fff;
    text-align: center;
    z-index: 3;
    border: 1px solid #E6E6E6;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: .2s all;
}

#topbar .top-nav-my:hover .nav-js {
    display: block;
    transition: 2s all;
}

#topbar .top-nav-my ul li {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    transition: .2s all;
}

#topbar .top-nav-my ul li:hover a {
    background: #FED500;
    color: #fff;
    transition: .2s all;
}

#topbar .top-nav-my ul li a {
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #333;
}

#topbar .right-part a {
    display: inline-block;
    color: #e6e6e6;
    transition: .3s all;
}

#topbar .right-part .ty:hover {
    opacity: .65;
    transition: .3s all;
}

#topbar .hover-code img {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    right: 77px;
    margin-top: 10px;
    z-index: 9;
}

#topbar .hover-code {
    /*transition: .3s all;*/
}

#topbar .hover-code:hover .wx-code {
    display: block;
    transition: .3s all;
}

#topbar .right-part .boss {
    position: relative;
    color: #FED500;
}

#topbar .right-part span {
    color: #5a5a5a;
    margin: 0 5px;
}

/*头部logo部分*/
#header {
    position: relative;
    width: 100%;
    height: 82px;
    background: #fff;
}

#header .container {
    position: relative;
    width: 1090px;
    margin: 0 auto;
}

#header .logo {
    float: left;
}

#header .logo > a {
    display: inline-block;
    width: 251px;
    height: 53px;
    margin-top: 16px;
    background: url(../img/logo.png) no-repeat;
}

#header .tui {
    float: right;
    margin: 13px 0 0;
}

#header .tui a {
    display: block;
}

#header .tui a img {
    width: 53px;
    height: 53px;
}

#header .pei {
    float: right;
    margin: 15px 15px 0;
}

#header .pei a {
    display: block;
}

#header .pei a img {
    width: 48px;
    height: 48px;
}

#header .tui .refund {
    display: none;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 2px #dfdfdf;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #313137;
    position: absolute;
    right: -43px;
    padding: 0 12px;
    z-index: 999;
    text-align: left;
    white-space: nowrap;
}

#header .pei .mid {
    display: none;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 2px #dfdfdf;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #313137;
    position: absolute;
    right: 8px;
    padding: 0 12px;
    z-index: 999;
    text-align: left;
    white-space: nowrap;
    margin-top: 3px;
}

#header .cart {
    float: right;
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

#header .cart > a {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/gwc.png) no-repeat;
    margin-top: 22px;
    transition: .3s all;
}

#header .cart > a:hover {
    opacity: .65;
    transition: .3s all;
}

#header .search {
    position: relative;
    display: inline-block;
    float: right;
    width: 285px;
    height: 42px;
    margin-top: 15px;
}

#header .search input {
    position: absolute;
    display: inline-block;
    width: 215px;
    height: 26px;
    line-height: 26px;
    border: 0;
    border-bottom: 1px solid #333;
    top: 7.5px;
    outline: none;
    padding: 0 15px;
    transition: .3s all;
}

#header .search input:hover {
    opacity: .65;
    transition: .3s all;
}

#header .search a {
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
    background: url(../img/fdj.png) 0 3.5px no-repeat;
    top: 7.5px;
    transition: .3s all;
}

#header .search a:hover {
    opacity: .65;
    transition: .3s all;
}

#header .prompt {
    position: absolute;
    top: 52px;
    right: 182px;
    width: 265px;
    height: 20px;
    text-align: left;
    padding: 0 10px;
    overflow: hidden;
}

#header .prompt a {
    display: inline-block;
    font-size: 12px;
    color: #999;
    line-height: 20px;
    margin-right: 10px;
}

#header .prompt a:hover {
    color: #FED500;
}

/*页面开始*/
#main {
    position: relative;
    width: 100%;
    background-color: #EBEBEB;
}

#main .content {
    width: 1090px;
    margin: 0 auto;
    padding: 44px 0 62px;
    overflow: hidden;
}

/*头部共用*/
.orders-head {
    position: relative;
    width: 100%;
    height: 48px;
    background: #fff;
    margin-bottom: 4px;
}

.orders-head ul {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.orders-head li {
    width: 106px;
    height: 35px;
    float: left;
    text-align: center;
    border-bottom: 4px solid #FED500;
    margin: 0 15px;
}

.orders-head li a {
    display: block;
    line-height: 35px;
    font-size: 20px;
    color: #999;
}

/*主体共用*/
.orders-body {
    position: relative;
    /*width: 100%;*/
    background: #fff;
}

/*左侧订单*/
#main .orders_lf {
    position: relative;
    float: left;
    width: 390px;
    min-height: 330px;
}

/*订单详情*/
#meal-details {
    position: relative;
    width: 100%;
    min-height: 280px;
    padding: 35px 15px 0;
}

#meal-details tr {
    text-align: center;
    height: 48px;
}

#meal-details tr:first-child {
    font-size: 16px;
    color: #999;
    text-align: center;
}

#meal-details tr td:nth-child(2) {
    text-align: left;
    width: 200px;
}

#meal-details tr td:nth-child(3) {
    width: 87px;
    font-size: 16px;
    color: #999;
}

#meal-details tr td:last-child {
    width: 74px;
    font-size: 16px;
    color: #999;
}

#meal-details .amount .btn {
    border-right-style: dotted;
    display: inline-block;
    height: 21px;
    border: 1px solid #E2E2E2;
    padding: 0 5px;
    color: #B9B9B9;
    cursor: pointer;
}

#meal-details .amount input {
    display: inline-block;
    font-size: 16px;
    height: 21px;
    width: 20px;
    line-height: 21px;
    border: none;
    padding: 0;
    -webkit-appearance: none;
    outline: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}

.total {
    position: relative;
    padding: 15px;
    background: #fff;
}

.total span {
    display: block;
    font-size: 20px;
    color: #333;
    margin-left: 270px;
}

.total span strong {
    font-weight: 500;
}

.total p {
    display: block;
    font-size: 14px;
    color: #666;
    margin-left: 250px;
    margin-top: 5px;
}

.total p strong {
    font-weight: 500;
    color: #FED500;
}

/*主体页面*/
.content > div {
    margin-bottom: 8px;
    overflow: hidden;
}

/*订单详情*/
#orders .box-list {
    position: relative;
    min-height: 252px;
}

#orders .box-list table {
    padding: 15px 16px;
}

#orders table tr {
    display: block;
    border-bottom: 1px dashed #FED500;
    text-align: center;
}

#orders table tr:nth-child(2n) {
    border-bottom: 1px dashed #dedede;
}

#orders table tr:first-child {
    border-color: transparent;
}

#orders table tr:last-child {
    border-color: transparent;
}

#orders table th {
    font-size: 26px;
    color: #666;
}

#orders table td {
    font-size: 24px;
    color: #999;
}

/*套餐*/
#orders table .set-meal {
    width: 352px;
    padding: 5px;
}

/*口味*/
#orders table .tasty {
    width: 352px;
    padding: 5px;
}

/*数量*/
#orders table .amount {
    width: 352px;
    padding: 5px;
}

#orders table td.amount {
    color: #FED500;
}

#orders table td.amount span {
    color: #999;
}

#orders .title-box {
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 2px solid #fbfbfb;
}

#orders .list-title {
    margin-left: 70px;
    font-size: 26px;
    color: #333;
    font-weight: bold;
}

#orders .list-price {
    float: right;
    margin-right: 160px;
    font-size: 24px;
    color: #666;
}

#orders .deal-leading {
    float: right;
    margin-right: 280px;
}

#orders .deal-leading .minus {
    width: 25px;
    text-align: center;
    outline: none;
}

#orders .deal-leading .quantity {
    width: 25px;
    text-align: center;
    outline: none;
}

#orders .deal-leading .add {
    width: 25px;
    text-align: center;
    outline: none;
}

/*收货地址*/
#addr .orders-head ul {
    right: 0;
}

#addr .more {
    float: right;
    border: none;
    width: 110px;
}

#addr .more a {
    font-size: 16px;
    color: #FED500;
}

#addr-box {
    padding: 25px;
    margin-bottom: -12px;
}

#addr-box li {
    border: 1px solid #E1E1E1;
    margin-bottom: 12px;
    display: none;
}

/*active*/
#addr .addr-item.active {
    position: relative;
    border: 1px solid #FED500;
    background: url(../img/default.png) top left no-repeat;
    z-index: 2;
}

#addr .addr {
    width: 918px;
    padding: 15px 60px;
    overflow: hidden;
}

#addr .addr:hover {
    background-color: rgba(225, 225, 225, .2);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#addr .cout {
    display: inline-block;
    color: #999;
}

#addr .cout-up {
    display: none;
}

#addr .cout-on:after {
    content: url(../img/cout-on.png);
    position: relative;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 2px;
}

#addr .cout-up:after {
    content: url(../img/cout-up.png);
    position: relative;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 2px;
}

#addr .addr-name {
    font-size: 22px;
    color: #666;
    height: 30px;
}

#addr .addr-name span {
    margin-right: 15px;
}

#addr .addr-box {
    font-size: 24px;
    color: #999;
    height: 30px;
}

/*选择优惠*/
#coupon .orders-body {
    height: 88px;
    line-height: 88px;
}

#coupon .red-pack {
    display: inline-block;
    width: 510px;
    margin-left: 30px;
}

#coupon .coupon {
    display: inline-block;
    width: 510px;
    margin-left: 30px;
}

#coupon .orders-body p label {
    display: inline-block;
    width: 150px;
    font-size: 24px;
    color: #999;
    text-align: left;
}

#coupon .orders-body p select {
    width: 115px;
    height: 30px;
    font-size: 20px;
    color: #F74342;
    text-align: center;
}

#coupon .orders-body p select option {
    text-align: center;
    padding: 0 20px;
    font-size: 20px;
    color: #f74342;
}

/*其他信息*/
.invoice input::-webkit-input-placeholder {
    color: #e6e6e6;
    font-size: 14px;
}

#other input {
    width: 230px;
    height: 22px;
    padding: 0 5px;
    margin-bottom: 5px;
    outline: none;
}

#other .orders-body {
    padding: 20px 15px;
    line-height: 55px;
}

#other .orders-body p {
    position: relative;
    margin-bottom: 12px;
}

#other .orders-body .express .before {
    display: inline-block;
    width: 30px;
    height: 7px;
    border-top: 1px solid #E5E5E5;
}

#box {
    display: inline-block;
    line-height: 1;
}

#box .day {
    width: 88px;
    height: 30px;
    outline: none;
    cursor: default;
    font-size: 20px;
    color: #666;
}

#box > select {
    width: 145px;
    height: 30px;
    outline: none;
    cursor: default;
    font-size: 20px;
    color: #666;
}

#box > select > option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

#other .orders-body .remarks {
    line-height: 1;
}

#other .remarks label {
    float: left;
    line-height: 20px;
}

#other .orders-body .remarks textarea {
    text-indent: 10px;
    width: 518px;
    height: 78px;
    font-size: 16px;
    resize: none;
    outline: none;
    border: 1px solid #e6e6e6;
}

#other .orders-body p label {
    display: inline-block;
    width: 150px;
    font-size: 24px;
    color: #999;
    text-align: right;
    margin-right: 20px;
}

#other .invoice select {
    width: 88px;
    height: 30px;
    outline: none;
    cursor: default;
    font-size: 20px;
    color: #666;
}

#other .invoice option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

#other .express label {
    display: inline-block;
    width: 150px;
    font-size: 24px;
    color: #999;
    text-align: right;
    margin-right: 20px;
}

/*支付商品*/
#payment .orders-body {
    padding: 0 30px 25px;
    min-height: 190px;
}

#payment .orders-body .buy-text {
    height: 55px;
    line-height: 55px;
    font-size: 26px;
    color: #999;
    font-weight: 500;
}

#payment .orders-body .buy-price {
    display: block;
    line-height: 55px;
    font-size: 40px;
    color: #f74342;
    font-weight: 500;
    margin-left: 70px;
}

#payment .orders-body .buy-price strong {
    font-weight: 500;
    font-size: 40px;
    color: #f74342;
}

#payment .orders-body .havelook {
    display: inline-block;
    float: right;
}

#payment .orders-body .havelook a {
    display: block;
    width: 208px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    background: #fff;
    color: #FED500;
    border: 1px solid #FED500;
    text-align: center;
}

#payment .orders-body .havelook a:hover {
    background: #FED500;
    color: #fff;
    border-color: #FED500;
    transition: .2s all;
}

#payment .orders-body .buy-now {
    display: inline-block;
    float: right;
    margin-right: 30px;
}

#payment .orders-body .buy-now a {
    display: block;
    width: 208px;
    height: 82px;
    line-height: 82px;
    font-size: 30px;
    background: #FED500;
    color: #fff;
    text-align: center;
}

#payment .orders-body .buy-now a:hover {
    opacity: .85;
    transition: .2s all;
}

/*弹框bg*/
.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    /*filter: alpha(opacity=80);*/
}

/*切换地址弹框******************/
#MyAddr {
    display: block;
    position: fixed;
    width: 878px;
    height: 500px;
    top: 45%;
    left: 50%;
    margin-top: -275px;
    margin-left: -341px;
    background-color: #fff;
    z-index: 1002;
    overflow: hidden;
}

/*地址管理***************************/
#address {
    padding: 24px 24px 80px;
    background: #fff;
}

#address h3 {
    font-size: 16px;
    color: #FED500;
    font-weight: 500;
    margin-bottom: 10px;
}

.address {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-bottom: -8px;
}

.address .default {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

.address li:first-child {
    border: 1px solid #FED500;
}

.address li {
    position: relative;
    width: 385px;
    height: 108px;
    padding: 16px 12px;
    border: 1px solid #e2e2e2;
    margin-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;
}

.address li .alter {
    position: absolute;
    display: block;
    width: 17px;
    height: 20px;
    top: 17px;
    right: 13px;
    background: url(../img/ul_alter.png);
}

.address li .alter:hover {
    background: url(../img/form_alter.png);
}

.address li .delete {
    position: absolute;
    display: block;
    width: 11px;
    height: 11px;
    bottom: 16px;
    right: 12px;
    background: url(../img/ul_delete.png);
}

.address li p {
    margin: 2px 10px;
    font-size: 18px;
    color: #333;
}

.address li span {
    font-size: 18px;
    color: #666;
}

.address .user {
    display: inline-block;
    margin-right: 8px;
}

.address .region {
    display: inline-block;
    margin-right: 15px;
}

.address .street {
    display: inline-block;
}

.address .new {
    background: #fff;
}

.address .new:hover {
    background: #fbfbfb;
    transition: .2s all;
}

.address .new a {
    display: block;
    line-height: 142px;
    /*margin-top: -19px;*/
    margin: -19px -13px 0;
    text-align: center;
}

.address .new a p:before {
    content: url(../img/ul_new.png);
    position: relative;
    top: 3px;
    right: 12px;
}