body{
	font: 400 14px/1.5 "Hiragino Sans GB","WenQuanYi Micro Hei",tahoma,sans-serif;
	color: #666;
}
.container{
	width: 1090px;
	margin: 0 auto;
	min-height: 500px;
	padding: 20px 0 65px;
}
#mainbox{
	background: #fff;
	border: 1px solid #FED500;
	padding: 25px;
	clear: both;
}
#mainbox h2{
	font-size: 28px;
	border-bottom: 1px solid #FED500;
	margin-bottom: 10px;
	padding-bottom: 10px;
	text-align: center;
}
#mainbox h4{
	padding: 10px 0 0;
	margin: 10px;
	font-size: 100%;
	color: #333;
}
#mainbox p{
	margin: 10px;
	text-indent: 2em;
}
#mainbox span{
	/*margin: 0 7px 0 -30px;*/
}
#mainbox ol{
	margin: 10px;
}
#mainbox li{
	margin: 5px 0 0 20px;
	list-style: none;
}
