/*TOP*/
#topbar{
	position: relative;
	width: 100%;
	height: 44px;
	background-color: #333;
}
#topbar .container{
	width: 1090px;
	margin: 0 auto;
}
#topbar .left-part{
	float: left;
	height: 44px;
	line-height: 44px;
}
#topbar .dw{
	display: block;
	color: #e6e6e6;
	font-size: 16px;
	transition: .3s all;
}
#topbar .dw:hover{
	opacity: .65;
	transition: .3s all;
}
#topbar .dw i{
	position: relative;
	display: inline-block;
	width: 21px;
	height: 21px;
	top: 5px;
	background: url(../img/zb.png) no-repeat;
}
/*下拉框*/
#topbar .right-part{
	position: relative;
	float: right;
	height: 44px;
	line-height: 44px;
}
#topbar .right-part li{
	float: left;
	display: inline-block;
	font-size: 16px;
}
#topbar .top-nav-my{
	color: #e6e6e6;
	width: 70px;
}
#topbar .top-nav-my:after{
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-top: 4px solid #E6E6E6;
	top: 22px;
}
#topbar .top-nav-my ul{
	display: none;
	position: absolute;
	width: 75px;
	background: #fff;
	text-align: center;
	z-index: 3;
	border: 1px solid #E6E6E6;
	border-top: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	transition: .2s all;
}
#topbar .top-nav-my:hover .nav-js{
	display: block;
	transition: 2s all;
}
#topbar .top-nav-my ul li{
	display: block;
	width: 100%;
	height: 30px;
	font-size: 16px;
	transition: .2s all;
}
#topbar .top-nav-my ul li:hover a{
	background: #FED500;
	color: #fff;
	transition: .2s all;
}
#topbar .top-nav-my ul li a{
	display: block;
	line-height: 30px;
	font-size: 14px;
	color: #333;
}
#topbar .right-part a{
	display: inline-block;
	color: #e6e6e6;
	transition: .3s all;
}
#topbar .right-part .ty:hover{
	opacity: .65;
	transition: .3s all;
}
#topbar .hover-code img{
	position: absolute;
	display: none;
	width: 100px;
	height: 100px;
	right: 77px;
	margin-top: 10px;
	z-index: 9;
}
#topbar .hover-code:hover .wx-code{
	display: block;
	transition: .3s all;
}
#topbar .right-part .boss{
	position: relative;
	color: #FED500;
}
#topbar .right-part span{
	color: #5a5a5a;
	margin: 0 5px;
}
/*头部logo部分*/
#header{
	position: relative;
	width: 100%;
	height: 82px;
	background: #fff;
}
#header .container{
	position:relative;
	width: 1090px;
	margin: 0 auto;
}
#header .logo{
	float: left;
}
#header .logo>a{
	display: inline-block;
	width: 251px;
	height: 53px;
	margin-top: 16px;
	background: url(../img/logo.png) no-repeat;
}
#header .tui{
	float: right;
	margin: 13px 0 0;
}
#header .tui a{
	display: block;
}
#header .tui a img{
	width: 53px;
	height: 53px;
}
#header .pei{
	float: right;
	margin: 15px 15px 0;
}
#header .pei a{
	display: block;
}
#header .pei a img{
	width: 48px;
	height: 48px;
}
#header .tui .refund{
	display: none;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	box-shadow: 0 0 2px #dfdfdf;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #313137;
	position: absolute;
	right: -43px;
	padding: 0 12px;
	z-index: 999;
	text-align: left;
	white-space: nowrap;
}
#header .pei .mid{
	display: none;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	box-shadow: 0 0 2px #dfdfdf;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #313137;
	position: absolute;
	right: 8px;
	padding: 0 12px;
	z-index: 999;
	text-align: left;
	white-space: nowrap;
	margin-top: 3px;
}
#header .cart{
	float: right;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}
#header .cart>a{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/gwc.png) no-repeat;
	margin-top: 22px;
	transition: .3s all;
}
#header .cart>a:hover{
	opacity: .65;
	transition: .3s all;
}
#header .search{
	position: relative;
	display: inline-block;
	float: right;
	width: 285px;
	height: 42px;
	margin-top: 15px;
}
#header .search input{
	position: absolute;
	display: inline-block;
	width: 215px;
	height: 26px;
	line-height: 26px;
	border: 0;
	border-bottom: 1px solid #333;
	top: 7.5px;
	outline: none;
	padding: 0 15px;
	transition: .3s all;
}
#header .search input:hover{
	opacity: .65;
	transition: .3s all;
}
#header .search a{
	position: absolute;
	right: 0;
	width: 32px;
	height: 32px;
	background: url(../img/fdj.png) 0 3.5px no-repeat;
	top: 7.5px;
	transition: .3s all;
}
#header .search a:hover{
	opacity: .65;
	transition: .3s all;
}
#header .prompt{
	position: absolute;
	top: 52px;
	right: 182px;
	width: 265px;
	height: 20px;
	text-align: left;
	padding: 0 10px;
	overflow: hidden;
}
#header .prompt a{
	display: inline-block;
	font-size: 12px;
	color: #999;
	line-height: 20px;
	margin-right: 10px;
}
#header .prompt a:hover{
	color: #FED500;
}
/*页面开始*/
body{
	background-color: #EEF0F5;
}
#main{
	width: 1090px;
	margin: 0 auto;
	padding: 15px 0;
}
#main>div{
	margin-bottom: 25px;
}
/*第一部分*/
#main .part_one{
	position: relative;
	width: 100%;
	height: 625px;
	margin-bottom: 55px;
	background: #fff;
}
#main .part_one .list-img{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 8px;
}
#main .list-img li a{
	display: block;
}
#main .list-img .img-box01{
	width: 619px;
	height: 356px;
	margin-bottom: 8px;
}
#main .img-box01 img{
	display: block;
	width: 619px;
	height: 356px;
}
#main .list-img .img-box02{
	width: 443px;
	height: 356px;
	margin-left: 10px;
	margin-bottom: 8px;
}
#main .list-detail{
	border: 1px solid #f9f9f9;
	padding: 15px 35px;
	height: 324px;
}
#main .list-detail>h3{
	font-size: 36px;
	color: #333;
	height: 50px;
	overflow: hidden;
}
#main .list-detail>span{
	font-size: 24px;
	color: #999;
	height: 32px;
}
#main .list-detail .score{
	font-size: 24px;
	color: #FED500;
}
#main .list-detail .detail{
	height: 55px;
	line-height: 55px;
}
#main .detail .dt-img{
	display: inline-block;
	position: absolute;
	width: 60px;
}
#main .detail .dt-2{
	display: inline-block;
	font-size: 26px;
	color: #666;
	font-weight: bold;
	margin-left: 65px;
}
#main .detail .dt-3{
	display: inline-block;
	font-size: 24px;
	color: #666;
	margin-right: 8px;
}
#main .detail-1{
	margin-top: 10px;
}
#main .detail-1 .dt-img img{
	width: 48px;
	height: 51px;
}
#main .detail-2 .dt-img img{
	width: 55px;
	height: 49px;
}
#main .detail-3 .dt-img img{
	width: 48px;
	height: 50px;
}
#main .btn-box{
	position: relative;
	margin-top: 20px;
	background: #fff;
}
#main .Buy{
	display: inline-block;
	width: 180px;
	height: 48px;
	border: 1px solid #FED500;
	text-align: center;
	background: #FED500;
}
#main .Buy a{
	display: block;
	line-height: 48px;
	font-size: 18px;
	color: #fff;
	transition: .2s all;
	font-weight: bold;
}
#main .Basket{
	display: inline-block;
	width: 180px;
	height: 48px;
	background: #FED500;
	text-align: center;
}
#main .Basket a{
	display: block;
	line-height: 48px;
	font-size: 18px;
	color: #fff;
	transition: .2s all;
	font-weight: bold;
}
#main .other{
	margin-top: 10px;
}
#main .other .rt{
	font-size: 20px;
	color: #666;
	float: right;
}
#main .other .rt b{
	font-size: 20px;
	color: #FED500;
}

#main .list-img .bigger{
	width: 357px;
	height: 212px;
}
#main .list-img .bigger img{
	display: block;
	width: 357px;
	height: 212px;
}
#main .list-img .bigger:hover{
	z-index: 1;
	background: white;
	transform: scale(1.04);
	box-shadow: 1px 0px 2px 2px darkgray;
	outline: none;
	cursor: pointer;
	transition:.1s all;
}
/*第二部分*/
#main .part_two{
	position: relative;
	width: 100%;
	background: #fff;
}
#main .tobuy-line{
	position: relative;
	background: #fff;
	padding: 20px 0 20px;
	font-size: 20px;
	text-align: center;
	margin: 0 20px;
	border-bottom: 1px solid #E6E6E6;
}
#main .tobuy-line:before{
	content: "";
	position: absolute;
	display: block;
	width: 64px;
	top: 35px;
	left: 415px;
	border-top: 1px solid #333;
}
#main .tobuy-line:after{
	content: "";
	position: absolute;
	display: block;
	width: 64px;
	top: 35px;
	right: 415px;
	border-top: 1px solid #333;
}
#main .tobuy-line span{
	display: block;
	font-size: 16px;
	color: #999;
	padding-top: 15px;
}
#main .box-list{
	position: relative;
	min-height: 252px;
}
#main .box-list table{
	padding: 50px 16px 15px;
}
#main table tr{
	border-bottom: 1px dotted red;
	text-align: center;
}
#main table th{
	font-size: 26px;
	color: #666;
}
#main table td{
	font-size: 24px;
	color: #999;
}
/*套餐*/
#main table .set-meal{
	width: 352px;
	padding: 5px;
}
/*口味*/
#main table .tasty{
	width: 352px;
	padding: 5px;
}
/*数量*/
#main table .amount{
	width: 352px;
	padding: 5px;
}

#main .img-list{
	position: relative;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	width: 1050px;
	padding: 20px;
}
#main .img-list li{
	width: 1050px;
	height: 611px;
	overflow: hidden;
}
#main .img-list li a{
	display: block;
}
#main .img-list li a img{
	display: block;
	width: 1050px;
	height: 556px;
}
#main .img-list li span{
	display: inline-block;
	font-size: 18px;
	color: #999;
	padding: 15px 0 20px;
	line-height: 20px;
}
/*第3部分*/
#main .part_three{
	position: relative;
	width: 100%;
	background: #fff;
}
#main .part_three h3{
	display: block;
	width: 1080px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	border: 1px solid #eee;
	font-size: 20px;
	color: #333;
	font-weight: 500;
	padding-left: 10px;
	margin-bottom: 5px;
}
#main .cont-eval{
	position: relative;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
}
#main .eval-lf{
	float: left;
	width: 100px;
	height: 30px;
	margin-left: 25px;
}
#main .eval-lf .img{
	display: inline-block;
	width: 30px;
	height: 30px;
}
#main .eval-lf img{
	display: inline-block;
	width: 30px;
	height: 30px;
}
#main .eval-lf span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
#main .eval-rt{
	margin-left: 200px;
	padding: 10px 0;
}
#main .eval-rt img{
	display: block;
	width: 80px;
	height: 14px;
	background: url(../img/star.png);
}
#main .eval-rt p{
	display: block;
	padding: 10px 0;
}
#main .eval-rt .times{
	width: 100%;
	height: 10px;
	line-height: 10px;
	text-align: left;
	font-size: 14px;
	color: #999;
}
#main .eval-rt .times span:last-child{
	margin-left: 5px;
}
#main .more-line{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #999;
	text-align: center;
}
/*第4部分*/
#main .part_four{
	position: relative;
	margin-top: 25px;
}
/*滚动事件产生的导航栏*/
#affix{
	position: fixed;
	top: -120px;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10;
	box-shadow: 0 5px 14px 0 rgba(0,0,0,.1);
}
#affix .affix{
	width: 1090px;
	margin: 0 auto;
	padding-bottom: 30px;
}
#affix .affix ul{
	display: inline-block;
	border-bottom: 2px solid #E6E6E6;
	transition: background .6s ease,width .6s ease;
}
#affix .affix li{
	float: left;
	display: inline-block;
}
#affix .a-item{
	display: inline-block;
	width: 90px;
	height: 80px;
	line-height: 80px;
	font-size: 20px;
	color: #333;
	text-align: center;
	margin-right: 20px;
	border-bottom: 4px solid transparent;
}
#affix .affix li:nth-child(3) a{
	margin-right: 0;
}
#affix .a-item.active{
	color: #FED500;
	border-color: #FED500;
}
#affix .a-item:hover{
	color: #FED500;
	border-color: #FED500;
}
#affix button{
	float: right;
	width: 150px;
	height: 50px;
	line-height: 50px;
	background: #FED500;
	font-size: 20px;
	color: #fff;
	margin-top: 30px;
	text-align: center;
	border-radius: 25px;
	outline: none;
	border: none;
	cursor: pointer;
}
#affix button:hover{
	opacity: .8;
}