<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="img/favicon.ico" rel="shortcut icon">
		<title>美盒优品-公司后台</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/css_admin/cpy_user.css" />
	</head>
	<body>
		<!--头部logo部分-->
		<div id="header">
			<div class="container">
				<h1 class="logo">
					<a href="index.html" title="美盒优品"></a>
				</h1>
				<span class="company-title">公司后台</span>
			</div>
		</div>
		<!--页面开始-->
		<div id="main">
			<div class="container">
				<div class="order-nav">
					<dl>
						<dt class="news-age">信息管理</dt>
						<dd><a class="" href="cpy_person.html">人员信息</a></dd>
						<dd><a class="" href="javascript:;" style="color: #FED500;">用户信息</a></dd>
						<dd><a class="" href="#">商家信息</a></dd>
						<dt class="examine-age">审核管理</dt>
						<dd><a class="" href="cpy_store.html">店铺审核</a></dd>
						<dd><a class="" href="cpy_shop.html">商品审核</a></dd>
						<dd><a class="" href="cpy_pack.html">套餐审核</a></dd>
						<dd><a class="" href="cpy_shopage.html">商品管理</a></dd>
						<dd><a class="" href="cpy_package.html">套餐管理</a></dd>
						<dt class="order-age">订单管理</dt>
						<dd><a class="" href="#">普通订单</a></dd>
						<dd><a class="" href="#">企业定制订单</a></dd>
						<dd><a class="" href="#">企业福利订单</a></dd>
						<dt class="count-age">统计管理</dt>
						<dd><a class="" href="#">订单总额</a></dd>
						<dd><a class="" href="#">订单总数</a></dd>
					</dl>
				</div>
				<div class="orders">
					<div class="orders-head">
						<ul>
							<li class=""><a href="javascript:;">用户信息</a></li>
						</ul>
					</div>
					<div class="orders-body">
						<!--用户信息-->
						<ul id="cpy-user">
							<li>
								<div class="user-info">
									<div class="info-lf">
										<div class="title">
											<div class="img-box">
												<img src="img/company/user-list-bg.png" alt="" />
											</div>
											<div class="title-info">
												<span class="title-box">杭州佳妮万科安仁药业有限公司</span>
												<span class="times-box">12-14-10:52</span>
												<span class="num-box">351254</span>
											</div>
										</div>
										<div class="addr">
											<span class="default">默认</span>
											<span class="address">相符街道安利大道24号万科大厦2楼安仁有限公司</span>
											<span class="spread"></span>
										</div>
									</div>
									<div class="info-rt">
										<div class="phone">13846245915</div>
										<div class="name">
											<span>唐马儒</span>
											<div class="sex">先生</div>
										</div>
										<div class="job">策划部</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<!--页脚-->
		<footer>
			<div>客服电话：<span>0571-86438349</span>（每天9:00 - 22:00）</div>
			<div>Copyright © 2017, meiheyoupin.com. All rights reserved | 浙ICP备16043943号-1 </div>
		</footer>
		
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/js_admin/admin.js"></script>
	</body>
</html>
