<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiheyoupin.dao.GoodsMapper">

  <resultMap id="BaseResultMap" type="com.meiheyoupin.entity.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="price_people" jdbcType="DECIMAL" property="pricePeople" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="grade" jdbcType="DOUBLE" property="grade" />
    <result column="num_of_people" jdbcType="INTEGER" property="numOfPeople" />
    <result column="occasion" jdbcType="VARCHAR" property="occasion" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="primary_picture_url" jdbcType="VARCHAR" property="primaryPictureUrl" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="subject" jdbcType="INTEGER" property="subject" />
    <result column="stock_amount" jdbcType="INTEGER" property="stockAmount" />
    <result column="limit_count" jdbcType="INTEGER" property="limitCount" />
    <result column="recommended" jdbcType="INTEGER" property="recommended" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <result column="specification" jdbcType="VARCHAR" property="specification"/>
    <result column="appointment" jdbcType="VARCHAR" property="appointment"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, state, amount, price, price_people, content, grade, num_of_people, occasion, 
    picture_url, primary_picture_url, category, subject, stock_amount, limit_count, recommended, sales,
    store_id, description, specification, appointment, create_time, update_time
  </sql>

  <select id="selectGoodsBySate" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from goods
    WHERE state=#{state} ORDER BY create_time
  </select>

  <update id="updateGoodByGoodId" parameterType="com.meiheyoupin.entity.Goods">
    UPDATE goods
    SET name=#{name},
    amount=#{amount},
    price=#{price},
    state=#{state},
    price_people=#{pricePeople},
    content=#{content},
    grade=#{grade},
    num_of_people=#{numOfPeople},
    occasion=#{occasion},
    picture_url=#{pictureUrl},
    primary_picture_url=#{primaryPictureUrl},
    category=#{category},
    subject=#{subject},
    stock_amount=#{stockAmount},
    limit_count=#{limitCount},
    recommended=#{recommended},
    sales=#{sales},
    store_id=#{storeId},
    description=#{description},
    specification=#{specification},
    appointment=#{appointment},
    create_time=#{createTime},
    update_time=#{updateTime}
    WHERE id=#{id}
  </update>

  <update id="updateGoodStateByGoodId">
    UPDATE goods
    SET state=#{state}
    WHERE id=#{id}
  </update>

  <update id="updateGoodsStateByGoodsIds" parameterType="Integer[]">
    UPDATE goods SET state=1
    <where>
      id
      <foreach collection="array" item="ids" open="in (" close=")" separator=",">
        #{ids}
      </foreach>
    </where>
  </update>

  <select id="selectGoodByGoodId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM goods
    WHERE id=#{goodId} ORDER BY create_time
  </select>

  <update id="updateGoodsStateByGoodsIdsRefuse" parameterType="Integer[]">
    UPDATE goods SET state=2
    <where>
      id
      <foreach collection="array" item="ids" open="in (" close=")" separator=",">
        #{ids}
      </foreach>
    </where>
  </update>

  <update id="updateGoodsByStatus">
    UPDATE goods SET state=#{state,jdbcType=INTEGER}
    <where>
      id
      <foreach collection="goodIds" item="ids" open="in (" close=")" separator=",">
        #{ids,jdbcType=INTEGER}
      </foreach>
    </where>
  </update>

  <update id="updateGoodsStockByLimit">
    UPDATE goods
    SET stock_amount=limit_count
  </update>

  <update id="updateGoods" parameterType="com.meiheyoupin.entity.Goods">
    update goods
    <set>
      <if test="occasion != null">
        occasion=#{occasion},
      </if>
      <if test="state != null">
        state=#{state},
      </if>
      <if test="storeId != null">
        store_id=#{storeId},
      </if>
      <if test="amount != null">
        amount=#{amount},
      </if>
      <if test="pictureUrl != null">
        picture_url=#{pictureUrl},
      </if>
      <if test="primaryPictureUrl != null">
        primary_picture_url=#{primaryPictureUrl},
      </if>
      <if test="stockAmount != null">
        stock_amount=#{stockAmount},
      </if>
      <if test="limitCount != null">
        limit_count=#{limitCount},
      </if>
      <if test="createTime != null">
        create_time=#{createTime},
      </if>
      <if test="subject != null">
        subject=#{subject},
      </if>
      <if test="pricePeople != null">
        price_people=#{pricePeople},
      </if>
      <if test="numOfPeople != null">
        num_of_people=#{numOfPeople},
      </if>
      <if test="content != null">
        content=#{content},
      </if>
      <if test="recommended != null">
        recommended=#{recommended},
      </if>
      <if test="updateTime != null">
        update_time=#{updateTime},
      </if>
      <if test="price != null">
        price=#{price},
      </if>
      <if test="grade != null">
        grade=#{grade},
      </if>
      <if test="name != null">
        name=#{name},
      </if>
      <if test="category != null">
        category=#{category},
      </if>
      <if test="sales != null">
        category=#{sales},
      </if>
      <if test="description != null">
        description=#{description},
      </if>
      <if test="specification != null">
        specification=#{specification},
      </if>
      <if test="appointment != null">
        appointment=#{appointment},
      </if>
    </set>
    where id=#{id}
  </update>

  <select id="selectStoreIdByGoodsId" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT store_id FROM goods WHERE id=#{id}
  </select>

  <!--求指定商铺商品的平均评分-->
  <select id="selectAvgGradeByStoreId" parameterType="java.lang.Integer" resultType="java.lang.Double">
    SELECT AVG(grade)
    FROM goods
    WHERE store_id=#{storeId}
    AND state=1
  </select>

  <!--拿到指定商铺上月销量最好的套餐（只取一）-->
  <select id="selectMostPopularGoodsMonthlyByStoreId" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT NAME
    FROM goods
    WHERE sales=(SELECT MAX(sales) FROM goods WHERE store_id=#{storeId})
    AND DATE_FORMAT(update_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
    LIMIT 1
  </select>

  <select id="selectMostDismalGoodsMonthlyByStoreId" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT NAME
    FROM goods
    WHERE sales=(SELECT MIN(sales) FROM goods WHERE store_id=#{storeId})
    AND DATE_FORMAT(update_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
    LIMIT 1
  </select>
</mapper>