<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiheyoupin.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.meiheyoupin.entity.Orders">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="payment_amount" jdbcType="DECIMAL" property="paymentAmount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="delivery_date" jdbcType="TINYINT" property="deliveryDate" />
    <result column="delivery_time" jdbcType="TINYINT" property="deliveryTime" />
    <result column="has_invoice" jdbcType="TINYINT" property="hasInvoice" />
    <result column="invoice_id" jdbcType="INTEGER" property="invoiceId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="carriage_amount" jdbcType="DECIMAL" property="carriageAmount"/>
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
    <result column="red_envelope_amount" jdbcType="DECIMAL" property="redEnvelopeAmount" />
    <result column="pay_way" jdbcType="VARCHAR" property="payWay" />
    <result column="store_reject_reason" jdbcType="TINYINT" property="storeRejectReason" />
    <result column="refund_reason" jdbcType="TINYINT" property="refundReason" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="CashResultMap" type="com.meiheyoupin.entity.WithdrawCash">
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="cash" jdbcType="DOUBLE" property="cash"/>
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, store_id, payment_amount, total_amount, state, name, count, address_id, delivery_date,
    delivery_time, has_invoice, invoice_id, comment, carriage_amount, coupon_amount, red_envelope_amount, pay_way, store_reject_reason, refund_reason,
    create_time, update_time
  </sql>

  <select id="listOrderByObj" parameterType="com.meiheyoupin.entity.Orders" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from orders
    <where>
      <if test="redEnvelopeAmount != null ">and orders.red_envelope_amount = #{redEnvelopeAmount}</if>
      <if test="state != null ">and orders.state = #{state}</if>
      <if test="stateArray != null and stateArray.length > 0">
        and orders.state in
        <foreach collection="stateArray" item="state" index="index" open="(" close=")" separator=",">
          #{state, jdbcType=INTEGER}
        </foreach>
      </if>
      <if test="comment != null ">and orders.comment = #{comment}</if>
      <if test="invoiceId != null ">and orders.invoice_id = #{invoiceId}</if>
      <if test="name != null ">and orders.name = #{name}</if>
      <if test="totalAmount != null ">and orders.total_amount = #{totalAmount}</if>
      <if test="userId != null ">and orders.user_id = #{userId}</if>
      <if test="updateTime != null ">and orders.update_time = #{updateTime}</if>
      <if test="deliveryDate != null ">and orders.delivery_date = #{deliveryDate}</if>
      <if test="deliveryTime != null ">and orders.delivery_time = #{deliveryTime}</if>
      <if test="paymentAmount != null ">and orders.payment_amount = #{paymentAmount}</if>
      <if test="hasInvoice != null ">and orders.has_invoice = #{hasInvoice}</if>
      <if test="count != null ">and orders.count = #{count}</if>
      <if test="createTime != null ">and orders.create_time = #{createTime}</if>
      <if test="addressId != null ">and orders.address_id = #{addressId}</if>
      <if test="couponAmount != null ">and orders.coupon_amount = #{couponAmount}</if>
      <if test="storeId != null ">and orders.store_id = #{storeId}</if>
      <if test="payWay != null ">and orders.pay_way = #{payWay}</if>
      <if test="storeRejectReason != null ">and orders.store_reject_reason = #{storeRejectReason}</if>
      <if test="refundReason != null ">and orders.refund_reason = #{refundReason}</if>
      <if test="carriageAmount != null ">and orders.carriage_amount = #{carriageAmount}</if>
      <if test="id != null ">and orders.id = #{id}</if>
    </where>
    order by update_time
  </select>

  <select id="selectByState" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from orders
    WHERE state=#{state}
  </select>

  <select id="selectOrderSize" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM orders WHERE state=#{state}
  </select>

  <select id="selectOrderById" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM orders
    WHERE id=#{id}
  </select>

  <update id="updateOrderById" parameterType="com.meiheyoupin.entity.Orders">
    update orders
    <set>
      <if test="couponAmount != null">
        coupon_amount=#{couponAmount},
      </if>
      <if test="addressId != null">
        address_id=#{addressId},
      </if>
      <if test="createTime != null">
        create_time=#{createTime},
      </if>
      <if test="count != null">
        count=#{count},
      </if>
      <if test="hasInvoice != null">
        has_invoice=#{hasInvoice},
      </if>
      <if test="paymentAmount != null">
        payment_amount=#{paymentAmount},
      </if>
      <if test="deliveryTime != null">
        delivery_time=#{deliveryTime},
      </if>
      <if test="deliveryDate != null">
        delivery_date=#{deliveryDate},
      </if>
      <if test="updateTime != null">
        update_time=#{updateTime},
      </if>
      <if test="userId != null">
        user_id=#{userId},
      </if>
      <if test="totalAmount != null">
        total_amount=#{totalAmount},
      </if>
      <if test="name != null">
        name=#{name},
      </if>
      <if test="invoiceId != null">
        invoice_id=#{invoiceId},
      </if>
      <if test="comment != null">
        comment=#{comment},
      </if>
      <if test="carriageAmount != null">
        carriage_amount=#{carriageAmount},
      </if>
      <if test="state != null">
        state=#{state},
      </if>
      <if test="redEnvelopeAmount != null">
        red_envelope_amount=#{redEnvelopeAmount},
      </if>
      <if test="storeId != null">
        store_id=#{storeId},
      </if>
      <if test="payWay != null">
        pay_way=#{payWay},
      </if>
      <if test="storeRejectReason != null">
        store_reject_reason=#{storeRejectReason},
      </if>
      <if test="refundReason != null">
        refund_reason=#{refundReason},
      </if>
    </set>
    where id=#{id}
  </update>

  <!--上个月成交的销售额-->
  <select id="selectMonthlySalesByStoreId" parameterType="java.lang.Integer" resultType="com.meiheyoupin.entity.MonthlyCount">
    SELECT SUM(total_amount) as MonthlySales,COUNT(id) as MonthlyOrders
    FROM orders WHERE store_id =#{storeId}
    AND state=5
    AND DATE_FORMAT(update_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
  </select>

  <!--根据商家ID到上个月的运费总额-->
  <select id="selectMonthlyCarriageByStoreId" parameterType="java.lang.Integer" resultType="java.lang.Double">
    SELECT SUM(carriage_amount)
    FROM orders
    WHERE store_id=#{storeId}
    AND DATE_FORMAT(create_time,'%Y-%m')=DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH),'%Y-%m')
    AND state IN (5,6)
  </select>

  <!--遍历出可提现的商家ID和可提现金额-->
  <select id="selectAvaiableWithdrawCash" resultMap="CashResultMap">
    SELECT store_id,SUM(total_amount) AS cash
    FROM orders
    WHERE state IN (5,6)
    AND UNIX_TIMESTAMP(NOW())-UNIX_TIMESTAMP(update_time)>259200
    GROUP BY store_id
    ORDER BY cash DESC
  </select>
  
  <select id="selectOrdersForSalerInviteCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM orders
    WHERE store_id=(SELECT id FROM store WHERE invitation_code=#{inviteCode})
    AND state IN (5,6,10)
    ORDER BY create_time
  </select>
</mapper>