<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meiheyoupin.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.meiheyoupin.entity.Orders">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="payment_amount" jdbcType="DECIMAL" property="paymentAmount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="address_info" jdbcType="VARCHAR" property="addressInfo" />
    <result column="delivery_date" jdbcType="TINYINT" property="deliveryDate" />
    <result column="delivery_time" jdbcType="TINYINT" property="deliveryTime" />
    <result column="has_invoice" jdbcType="TINYINT" property="hasInvoice" />
    <result column="invoice_id" jdbcType="INTEGER" property="invoiceId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount" />
    <result column="red_envelope_amount" jdbcType="DECIMAL" property="redEnvelopeAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, payment_amount, total_amount, state, name, count, address_info, delivery_date, 
    delivery_time, has_invoice, invoice_id, comment, coupon_amount, red_envelope_amount, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.meiheyoupin.entity.OrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByState" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from orders
    WHERE state=#{state}
  </select>
  <select id="selectOrderSize" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM orders WHERE state=#{state}
  </select>
</mapper>