<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="/img/favicon.ico" rel="shortcut icon">
		<title>美盒优品-修改密码</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/alter.css" />
	</head>
	<body>
		<div class="wrapper">
			<div class="dialog">
				<div class="title">
					<h1><a href="/index.html"></a></h1>
					<div class="dl"><a href="#">修改密码</a></div>
				</div>
				<div class="content">
					<form action="#" name="">
						<ul>
							<li>
								<div class="inpnt-user">
									<input id="" placeholder="输入密码" type="password" />
								</div>
							</li>
							<li>
								<div class="inpnt-user">
									<input id="" placeholder="再次输入密码" type="password" />
								</div>
							</li>
							<li>
								<div class="btn-form">
									<a href="/login.html">确认密码</a>
								</div>
								<div class="info-form">
									<a href="/login.html">返回登录</a>
									<span>|</span>
									<a href="/reg.html" target="_blank">注册</a>
								</div>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
