<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/img/favicon.ico" rel="shortcut icon">
    <title>美盒优品-注册（掌柜版）</title>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/boss_register.css"/>
</head>
<body>
<!--TOP-->
<div id="topbar">
    <div class="container">
        <div class="left-part">
            <a class="ty dw" href="#">
                <i></i>
                <span>杭州</span>
            </a>
        </div>
        <div class="right-part">
            <a class="home" href="/"></a>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="dialog">
        <div class="title-box">
            <h1>
                <a href="/"></a>
                <p>掌柜版</p>
            </h1>
            <div class="zc"><a href="javascript:;">入驻申请</a></div>
            <div class="dl"><a href="/store/login">登录</a></div>
        </div>
        <div class="content">
            <form id="banner" action="">
                <div class='dingwei'>
                    <input id='tel' name="phone" type="tel" maxlength="11" placeholder="输入手机号">
                    <i class="icon-tel"></i>
                </div>
                <div class='dingwei'>
                    <input id='code' name="verification" type="text" maxlength="6" placeholder="输入验证码">
                    <div><input id='btn-code' type="button" onclick="" value="获取验证码"/></div>
                    <i class="icon-code"></i>
                </div>
                <div class='dingwei'>
                    <input id='cpy-tacts' name="contacts" type="text" maxlength="4" placeholder="输入您的姓名">
                    <div>
                        <input class="btn-ladie" type="button" name="sex" value="女士" gender="0"/>
                        <input class="btn-gentle" type="button" name="sex" value="男士" gender="1"/>
                    </div>
                    <i class="icon-tact"></i>
                </div>
                <div class='dingwei'>
                    <input id='cpy-name' name="company" type="text" maxlength="30" placeholder="输入店铺名称">
                    <i class="icon-nm"></i>
                </div>
                <div class='dingwei'>
                    <input id='cpy-addr' name="address" type="text" maxlength="30" placeholder="输入店铺地址">
                    <i class="icon-addr"></i>
                </div>
                <table id="file-tab">
                    <tr>
                        <td class="need">*</td>
                        <td class="label">营业执照:</td>
                        <td>
                            <a href="javascript:;" class="file">选择文件
                                <input id="certificate-photo" type="file">
                            </a>
                            <span class="showFileName">未选择任何文件</span>
                            <span class="fileerrorTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="need">*</td>
                        <td class="label">卫生许可证:</td>
                        <td>
                            <a href="javascript:;" class="file">选择文件
                                <input id="licence-photo" type="file" name="">
                            </a>
                            <span class="showFileName">未选择任何文件</span>
                            <span class="fileerrorTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="need">*</td>
                        <td class="label">法人身份证:</td>
                        <td>
                            <a href="javascript:;" class="file">选择文件
                                <input id="idc-photo1" type="file" name="">
                            </a>
                            <span class="showFileName">身份证正面</span>
                            <span class="fileerrorTip"></span>
                        </td>
                        <td class="file-rt">
                            <a href="javascript:;" class="file">选择文件
                                <input id="idc-photo2" type="file" name="">
                            </a>
                            <span class="showFileName">身份证反面</span>
                            <span class="fileerrorTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="need">*</td>
                        <td class="label">门头照:</td>
                        <td>
                            <a href="javascript:;" class="file">选择文件
                                <input id="outside-photo" type="file" name="">
                            </a>
                            <span class="showFileName">未选择任何文件</span>
                            <span class="fileerrorTip"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="need">*</td>
                        <td class="label">店内环境照:</td>
                        <td>
                            <a href="javascript:;" class="file">选择文件
                                <input id="inside-photo1" type="file" name="">
                            </a>
                            <span class="showFileName">环境照1</span>
                            <span class="fileerrorTip"></span>
                        </td>
                        <td class="file-rt">
                            <a href="javascript:;" class="file">选择文件
                                <input id="inside-photo2" type="file" name="">
                            </a>
                            <span class="showFileName">环境照2</span>
                            <span class="fileerrorTip"></span>
                        </td>
                    </tr>
                </table>
                <div class="dingwei">点击注册，表示同意美盒优品<a class="terms" href="terms.html">《服务协议》</a></div>
                <div class="sub-box dingwei">
                    <input id='submit' type="button" value='注册美盒优品'/>
                </div>
                <div id="label">
                    <div><label for="tel">手机号</label></div>
                    <div><label for="code">验证码</label></div>
                    <div><label for="cpy-tacts">姓名</label></div>
                    <div><label for="cpy-name">店铺名称</label></div>
                    <div><label for="cpy-addr">店铺地址</label></div>
                </div>
                <div id="prompt">
                    <div><p class="p_tel">请输入注册手机号</p></div>
                    <div><p class="p_code">请输入短信验证码</p></div>
                    <div><p class="p_tact">请输入您的姓名</p></div>
                    <div><p class="p_name">请输入店铺名称</p></div>
                    <div><p class="p_addr">请输入店铺地址</p></div>
                    <!--<div><p class="p_sub">请按要求填写所有信息之后再进行提交</p></div>-->
                </div>
            </form>
        </div>
    </div>
    <!--商户合作-->
    <div class="arrow-down"><img src="/img/arrow-down.png" alt="" style="width: 150px;height: 30px;"/></div>
    <div id="main" style="background: #fff;">
        <div class="news">
            <div class="title">免费入驻 合作优势</div>
            <div class="subTitle">美盒优品平台免费合作，茶歇店铺掌柜的明智之选</div>
            <div class="detail-box">
                <ul>
                    <li>
                        <div class="imgBox">
                            <img src="/img/more-passengers.png" alt=""/>
                        </div>
                        <div class="title-0">海量客流</div>
                        <div class="subTitle-0">美盒优品提供入口引流，轻松获取周边客流</div>
                    </li>
                    <li>
                        <div class="imgBox">
                            <img src="/img/effient-operation.png" alt=""/>
                        </div>
                        <div class="title-0">高效经营</div>
                        <div class="subTitle-0">自助管理门店评价、装修店铺、使用买单交易工具</div>
                    </li>
                    <li>
                        <div class="imgBox">
                            <img src="/img/free-marketing.png" alt=""/>
                        </div>
                        <div class="title-0">免费营销</div>
                        <div class="subTitle-0">免费参加大型活动、免费使用营销工具，留住老客增加新客</div>
                    </li>
                    <li>
                        <div class="imgBox">
                            <img src="/img/convenient-service.png" alt=""/>
                        </div>
                        <div class="title-0">便捷服务</div>
                        <div class="subTitle-0">24小时开通入驻、款项次日到账、无成本快速开店</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="questions">
            <div class="title">常见问题</div>
            <div class="subTitle">若有其他疑问请联系我们</div>
            <div class="detail-box">
                <ul>
                    <li style="margin-right: 150px;">
                        <div class="one">
                            <div class="title-list">
                                <img src="/img/t1.png" alt=""/>
                                加入美盒优品需要哪些资料？
                            </div>
                            <div class="subTitle-list">身份证、门店信息、银行卡账号（银行卡持有人与提供的身份证本人保持一致），仅支持实体门店入驻。</div>
                        </div>
                        <div class="two">
                            <div class="title-list">
                                <img src="/img/t2.png" alt=""/>
                                加入美盒优品是否需要交纳入驻费用？
                            </div>
                            <div class="subTitle-list">加入美盒优品不需要缴纳任何费用，只需要提供加入所需资料。</div>
                        </div>
                    </li>
                    <li>
                        <div class="three">
                            <div class="title-list">
                                <img src="/img/t3.png" alt=""/>
                                美盒优品收取商家的费用率是多少呢？
                            </div>
                            <div class="subTitle-list">每种商家类型都是不一样的 ，费率范围大致在1%~30%。 在您上项目选择品类时可以看到具体的费率信息。</div>
                        </div>
                        <div class="four">
                            <div class="title-list">
                                <img src="/img/t4.png" alt=""/>
                                卖出去的商品如何结算呢？
                            </div>
                            <div class="subTitle-list">根据实际送出的商品，计算应付商家金额。线上签署合同时可以选择打款的银行卡和收款周期。
                                提款方式有自动收款（次日到账）和商家后台手动提款等多种提款方式。
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="arrow-down"><img src="/img/arrow-bottom.png" alt="" style="width: 150px;height: 30px;"/></div>
    </div>
    <!--页面底部-->
    <div class="footer">

        <div class="footer-box">
            <div class="footer-code">
                <img src="/img/mhyp_code.jpg" alt=""/>
                <div>扫码关注美盒优品</div>
            </div>
            <div class="footer-title">美盒优品餐饮平台 期待您的加入</div>
            <div class="footer-phone">客服电话： 0571-86438349</div>
            <div class="footer-btn">
                <a href="#">餐饮商户合作</a>
            </div>
            <p class="footer-copyright">Copyright © 2017, meiheyoupin.com. All rights reserved | 网站备案/许可证号：
                浙ICP备16043943号-1</p>
        </div>
    </div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/boss_reg.js"></script>
<script>
    function sendCode() {
        var tel = document.getElementsByName("phone");
        $.ajax({
            type:'GET',
            url:'/getMAC',
            data:tel,
            dataType:'text',
            success:
                function(result){
                    if(result.code==0){
                    }
                    else{
                        console.log(result.msg)
                    }
                }
        })
    }
</script>
</body>
</html>
