<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="/img/favicon.ico" rel="shortcut icon">
		<title>美盒优品-登录（掌柜版）</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/boss_login.css" />
	</head>
	<body>
		<div class="wrapper">
			<div class="dialog">
				<div class="title">
					<h1>
						<a href="/"></a>
						<p>掌柜版</p>
					</h1>
					<div class="dl"><a href="#">账号登录</a></div>
				</div>
				<div class="content">
					<form action="#" name="">
						<ul>
							<li>
								<div class="inpnt-user">
									<input id="id" placeholder="输入手机号/账号名" maxlength="11" type="text" />
								</div>
							</li>
							<li>
								<div class="inpnt-password">
									<input id="password" placeholder="输入密码" type="password" />
								</div>
							</li>
							<li>
								<div class="input-code">
									<input id="code" placeholder="输入验证码" maxlength="4" type="text" />
								</div>
								<div class="btn-code">
									<a href="#">8013</a>
								</div>
							</li>
							<li>
								<div class="btn-form">
									<a href="#">登录美盒</a>
								</div>
								<div class="info-form">
									<a href="/forget">忘记密码</a>
									<span>|</span>
									<a href="/store/register" target="_blank">申请入驻</a>
								</div>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
