<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/img/favicon.ico" rel="shortcut icon">
    <title>美盒优品-企业定制</title>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/company_made.css"/>
</head>
<body>
<!--TOP-->
<div id="topbar">
    <div class="container">
        <div class="left-part">
            <a class="ty dw" href="#">
                <i></i>
                <span>杭州</span>
            </a>
        </div>
        <ul class="right-part">
            <li>
                <a class="ty" href="login.html">登录</a>
                <span>|</span>
            </li>
            <li>
                <a class="ty" href="register.html">注册</a>
                <span>|</span>
            </li>
            <li class="top-nav-my">
                <a href="for_boon.html">我的订单</a>
                <ul class="nav-js">
                    <li><a href="for_boon.html">福利订单</a></li>
                    <li><a href="for_custom.html">定制订单</a></li>
                    <li><a href="for_pay.html">待付款订单</a></li>
                    <li><a href="for_eval.html">待评价订单</a></li>
                    <li><a href="for_refund.html">我的退款</a></li>
                    <li><a href="for_data.html">个人资料</a></li>
                    <li><a href="for_address.html">地址管理</a></li>
                    <li><a href="for_alter.html">修改密码</a></li>
                </ul>
            </li>
            <li>
                <span>|</span>
                <a class="ty" href="merchant.html">客户服务</a>
                <span>|</span>
            </li>
            <li>
                <a class="hover-code" href="#">
                    关注微信号
                    <img class="wx-code" src="/img/mhyp_code.jpg" alt=""/>
                </a>
                <span>|</span>
            </li>
            <li><a class="ty boss" href="boss_register.html">商家入驻</a></li>
        </ul>
    </div>
</div>
<!--头部logo部分-->
<div id="header">
    <div class="container">
        <h1 class="logo">
            <a href="index.html" title="美盒优品"></a>
        </h1>
        <div class="tui">
            <a href="#"><img src="/img/tui.png" alt=""/></a>
            <div class="refund">未消费，随便退！</div>
        </div>
        <div class="pei">
            <a href="#"><img src="/img/pei.png" alt=""/></a>
            <div class="mid">消费不满意先行赔付！</div>
        </div>
        <div class="cart">
            <a href="cart.html"></a>
        </div>
    </div>
</div>
<!--页面开始-->
<div id="main">
    <!--标题-->
    <h3>
        <div class="title"><a href="#">企业定制</a></div>
    </h3>
    <!--表单-->
    <form action="">
        <p class="time">
            <label>选定时间</label>
            <input type="date" name="" placeholder="12/05" style="margin-right: 12px;"/>
            <input type="time" name="" placeholder="10:23"/>
        </p>
        <p class="phone">
            <label>联系方式</label>
            <input type="tel" name="" maxlength="11" placeholder="输入联系电话" style="margin-right: 12px;"/>
            <input type="tel" name="" placeholder="输入联系人"/>
        </p>
        <p class="details">
            <label>需求详情</label>
            <input type="text" name="" placeholder="输入预算" style="margin-right: 12px;"/>
            <input type="text" name="" placeholder="输入人数"/>
        </p>
        <p class="remark">
            <label>备注</label>
            <textarea name="" rows="" cols="" placeholder="请把你想要的效果填入愿望框里..."></textarea>
        </p>
        <p>
            <input class="submit" type="button" value="提交定制"/>
        </p>
    </form>
</div>
<!--提交定制弹框-->
<div id="fade" class="black_overlay"></div>
<div id="MyDiv" class="white_content">
    <div class="move">
        <div class="title">
            <img src="/img/complete.png" alt=""/>
            <p>提交成功</p>
        </div>
    </div>
    <div class="list">
        <p>我们的定制经理会在二小时内与您取得联系<br/>请保持电话畅通!</p>
        <!--<div class="jsp">
            <span style="color:red; font-size:25px;" id="tips">3</span>秒之后返回到XXX页面...
            <a class="back" href="#" onclick="CloseDiv('MyDiv','fade')">立即返回</a>
        </div>-->
    </div>
    <a class="back" href="javascript:;" onclick="CloseDiv('MyDiv','fade')">×</a>
</div>
<!--页面结束-->
<iframe src="footer.html" frameborder="0" width="100%" height="490px" style="margin-bottom: -5px;"></iframe>

<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/company_made.js"></script>
</body>
</html>
