<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>美盒优品-用户反馈</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/enroll.css"/>
	</head>
	<body>
		<!--TOP-->
		<div id="topbar">
			<div class="container">
				<div class="left-part">
					<a class="ty dw" href="#" target="_parent">
						<i></i>
						<span>杭州</span>
					</a>
				</div>
				<ul class="right-part">
					<li>
						<a class="ty" href="login.html" target="_parent">登录</a>
						<span>|</span>
					</li>
					
					<li>
						<a class="ty" href="register.html" target="_parent">注册</a>
						<span>|</span>
					</li>
					
					<li class="top-nav-my">
						<a href="personal.html" target="_parent">我的订单</a>
						<ul class="nav-js">
							<li><a href="personal.html" target="_parent">待付款订单</a></li>
							<li><a href="#" target="_parent">待评价订单</a></li>
							<li><a href="#" target="_parent">我的退款</a></li>
							<li><a href="#" target="_parent">个人资料</a></li>
							<li><a href="#" target="_parent">地址管理</a></li>
							<li><a href="#" target="_parent">修改密码</a></li>
						</ul>
					</li>
					
					<li>
						<span>|</span>
						<a class="ty" href="merchant.html" target="_parent">客户服务</a>
						<span>|</span>
					</li>
					
					<li>
						<a class="hover-code" href="#" target="_parent">
							关注微信号
							<img class="wx-code" src="img/mhyp_code.jpg" alt="" />
						</a>
						<span>|</span>
					</li>
					
					<li><a class="ty boss" href="boss_register.html" target="_parent">商家入驻</a></li>
				</ul>
			</div>
		</div>
		<!--头部logo部分-->
		<div id="header">
			<div class="container">
				<h1 class="logo">
					<a href="index.html" title="美盒优品" target="_parent"></a>
				</h1>
				<div class="tui">
					<a href="#" target="_parent"><img src="img/tui.png" alt="" /></a>
					<div class="refund">未消费，随便退！</div>
				</div>
				<div class="pei">
					<a href="#" target="_parent"><img src="img/pei.png" alt="" /></a>
					<div class="mid">消费不满意先行赔付！</div>
				</div>
				<div class="cart">
					<a href="#" target="_parent"></a>
				</div>
				<form class="search" action="">
					<input placeholder="输入你的关键词" type="text" />
					<a href="#" target="_parent"></a>
				</form>
				<div class="prompt">
					<a href="#" target="_parent">生日会</a>
					<a href="#" target="_parent">下午茶</a>
					<a href="#" target="_parent">甜点饮品</a>
				</div>
			</div>
		</div>
		<!--页面开始-->
		<div id="main">
			<div class="head">您提交的问题将会在<strong>24小时</strong>内得到处理</div>
			<div class="content">
				<p>
					<label for="">您开店的初心是什么？</label>
					<textarea placeholder="请输入10-1000字"></textarea>
				</p>
				<p>
					<label for="">店铺有爆品嘛？</label>
					<textarea placeholder="请输入10-1000字"></textarea>
				</p>
				<p>
					<label for="">店铺有独特的产品嘛？</label>
					<textarea placeholder="请输入10-1000字"></textarea>
				</p>
				<p class="addr all">
					<label for="">店铺地址:</label>
					<input type="text" placeholder="请输入您的详细地址"/>
				</p>
				<p class="phone all">
					<label for="">联系方式:</label>
					<input class="first" type="text" placeholder="请输入手机号"/>
					<input type="text" placeholder="请输入姓名"/>
				</p>
				<p class="code all">
					<label for="">验证码:</label>
					<input type="text" placeholder="请输入验证码"/>
					<a href="">1901</a>
				</p>
				<p class="submit all">
					<button type="button">提交</button>
				</p>
			</div>
		</div>
	</body>
</html>
