<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>美盒优品-用户反馈</title>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/feedback.css"/>
	</head>
	<body>
		<!--TOP-->
		<div id="topbar">
			<div class="container">
				<div class="left-part">
					<a class="ty dw" href="#" target="_parent">
						<i></i>
						<span>杭州</span>
					</a>
				</div>
				<ul class="right-part">
					<li>
						<a class="ty" href="login.html" target="_parent">登录</a>
						<span>|</span>
					</li>
					
					<li>
						<a class="ty" href="register.html" target="_parent">注册</a>
						<span>|</span>
					</li>
					
					<li class="top-nav-my">
						<a href="personal.html" target="_parent">我的订单</a>
						<ul class="nav-js">
							<li><a href="personal.html" target="_parent">待付款订单</a></li>
							<li><a href="#" target="_parent">待评价订单</a></li>
							<li><a href="#" target="_parent">我的退款</a></li>
							<li><a href="#" target="_parent">个人资料</a></li>
							<li><a href="#" target="_parent">地址管理</a></li>
							<li><a href="#" target="_parent">修改密码</a></li>
						</ul>
					</li>
					
					<li>
						<span>|</span>
						<a class="ty" href="merchant.html" target="_parent">客户服务</a>
						<span>|</span>
					</li>
					
					<li>
						<a class="hover-code" href="#" target="_parent">
							关注微信号
							<img class="wx-code" src="img/mhyp_code.jpg" alt="" />
						</a>
						<span>|</span>
					</li>
					
					<li><a class="ty boss" href="boss_register.html" target="_parent">商家入驻</a></li>
				</ul>
			</div>
		</div>
		<!--头部logo部分-->
		<div id="header">
			<div class="container">
				<h1 class="logo">
					<a href="index.html" title="美盒优品" target="_parent"></a>
				</h1>
				<div class="tui">
					<a href="#" target="_parent"><img src="img/tui.png" alt="" /></a>
					<div class="refund">未消费，随便退！</div>
				</div>
				<div class="pei">
					<a href="#" target="_parent"><img src="img/pei.png" alt="" /></a>
					<div class="mid">消费不满意先行赔付！</div>
				</div>
				<div class="cart">
					<a href="#" target="_parent"></a>
				</div>
				<form class="search" action="">
					<input placeholder="输入你的关键词" type="text" />
					<a href="#" target="_parent"></a>
				</form>
				<div class="prompt">
					<a href="#" target="_parent">生日会</a>
					<a href="#" target="_parent">下午茶</a>
					<a href="#" target="_parent">甜点饮品</a>
				</div>
			</div>
		</div>
		<!--页面开始-->
		<div id="main">
			<div class="head">您提交的问题将会在<strong>24小时</strong>内得到处理</div>
			<div class="content">
				<p class="check">
					<label for="">反馈类型:</label>
					<span><input type="checkbox" />与订单相关</span>
					<span><input type="checkbox" />购物问题</span>
					<span><input type="checkbox" />账号问题/投诉建议</span>
					<span><input type="checkbox" />其他</span>
				</p>
				<p class="title">
					<label for="">标题:</label>
					<input type="text" placeholder="请输入4-30字"/>
				</p>
				<p class="back-text">
					<label for="">反馈内容:</label>
					<textarea placeholder="谢谢您提出中肯的反馈，我们会认真对待每一个会员的反馈，持续改进服务以获得您的认可，非常感谢！（10-1000字）"></textarea>
				</p>
				<p class="phone">
					<label for="">手机号/邮箱:</label>
					<input type="text" placeholder="请输入手机号或者邮箱"/>
					<span>(输入您的电话或邮箱方便我们及时和您沟通，美盒承诺不会泄露您的联系方式)</span>
				</p>
				<p class="code">
					<label for="">验证码:</label>
					<input type="text" placeholder="请输入验证码"/>
					<a href="javascript:;">1901</a>
				</p>
				<p class="submit">
					<button type="button">发送反馈</button>
				</p>
			</div>
		</div>
	</body>
</html>
