<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="/img/favicon.ico" rel="shortcut icon">
  <title>美盒优品-我的订单</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css"/>
  <link rel="stylesheet" type="text/css" href="/css/for_address.css"/>
</head>
<body>
<!--TOP-->
<div id="topbar">
  <div class="container">
    <div class="left-part">
      <a class="ty dw" href="#">
        <i></i>
        <span>杭州</span>
      </a>
    </div>
    <ul class="right-part">
      <li>
        <a class="ty" href="/login">登录</a>
        <span>|</span>
      </li>
      <li>
        <a class="ty" href="/register">注册</a>
        <span>|</span>
      </li>
      <li class="top-nav-my">
        <a href="/for_boon">我的订单</a>
        <ul class="nav-js">
          <li><a href="/for_boon">福利订单</a></li>
          <li><a href="/for_custom">定制订单</a></li>
          <li><a href="/for_pay">待付款订单</a></li>
          <li><a href="/for_eval">待评价订单</a></li>
          <li><a href="/for_refund">我的退款</a></li>
          <li><a href="/for_data">个人资料</a></li>
          <li><a href="/for_address">地址管理</a></li>
          <li><a href="/for_alter">修改密码</a></li>
        </ul>
      </li>
      <li>
        <span>|</span>
        <a class="ty" href="/merchant">客户服务</a>
        <span>|</span>
      </li>
      <li>
        <a class="hover-code" href="#">
          关注微信号
          <img class="wx-code" src="/img/mhyp_code.jpg" alt=""/>
        </a>
        <span>|</span>
      </li>
      <li><a class="ty boss" href="/boss_register">商家入驻</a></li>
    </ul>
  </div>
</div>
<!--头部logo部分-->
<div id="header">
  <div class="container">
    <h1 class="logo">
      <a href="/index" title="美盒优品"></a>
    </h1>
    <div class="tui">
      <a href="#"><img src="/img/tui.png" alt=""/></a>
      <div class="refund">未消费，随便退！</div>
    </div>
    <div class="pei">
      <a href="#"><img src="/img/pei.png" alt=""/></a>
      <div class="mid">消费不满意先行赔付！</div>
    </div>
    <div class="cart">
      <a href="#"></a>
    </div>
  </div>
</div>
<!--页面开始-->
<div id="main">
  <div class="container">
    <div class="order-nav">
      <dl>
        <dt class="order">我的订单</dt>
        <dd><a href="/for_boon">企业福利订单</a></dd>
        <dd><a href="/for_custom">企业定制订单</a></dd>
        <dd><a id="payOrder" href="/order/query">待付款订单</a></dd>
        <dd><a href="/for_eval">待评价订单</a></dd>
        <dd><a href="/for_refund">退款</a></dd>
        <dt class="vip">我的会员</dt>
        <dd>我的会员</dd>
        <dd>优惠券</dd>
        <dd>我的积分</dd>
        <dd>我的收藏</dd>
        <dd>积分商城</dd>
        <dd>我的邀请</dd>
        <dd>邀请有礼</dd>
        <dd>我的客服</dd>
        <dt class="profile">我的资料</dt>
        <dd><a id="userInfo" href="/user/">个人资料</a></dd>
        <dd><a style="color:#FED500;" href="/address">地址管理</a></dd>
        <dd><a href="/for_alter">修改密码</a></dd>
      </dl>
    </div>
    <div class="orders">
      <div class="orders-head">
        <ul>
          <li><a href="#">地址管理</a></li>
        </ul>
      </div>
      <div class="orders-body">
        <!-----地址管理---->
        <div id="address">
          <h3>默认地址</h3>
          <ul class="address">
            <#list addressList as address>
              <li>
                <p hidden class="addressId">${address.id}</p>
                <p class="user">${address.contactsName}</p><span>先生</span>
                <p class="phone">${address.contactsTel}</p>
                <p class="room">${address.address}</p>
                <a class="modifyAddrInfo alter" href="javascript:;"></a>
                <a class="delete" href="#"></a>
              </li>
            </#list>
            <li class="new">
              <a class="onShow" href="javascript:;">
                <p>添加新地址</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--删除地址弹框-->
<div id="delete" class="black_overlay"></div>
<div id="MyDelete" class="white_content">
  <p>确定要删除？</p>
  <div class="btn-box">
    <button class="yes" type="button" id="userAddrDeleteButton">删除</button>
    <button class="no" type="button">取消</button>
  </div>
</div>
<!--新增地址弹框-->
<div id="fade1" class="black_overlay"></div>
<div id="MyAdd" class="white_content">
  <form id="add-addr">
    <div class="move">
      <div class="title">
        <span>新增收货地址</span>
      </div>
    </div>
    <p class="user">
      <label>姓名:</label>
      <input id="contactsName" type="text" name="" value=""/>
      <select name="">
        <option value="">先生</option>
        <option value="">女士</option>
      </select>
    </p>
    <p class="phone">
      <label>手机号:</label>
      <input id="contactsTel" type="text" name="" maxlength="11" value=""/>
    </p>
    <p class="addr">
      <label>公司地址:</label>
      <input id="Address" class="rt" type="text" name="" style="width: 300px;" value=""/>
    </p>
    <input id="addrInfoSaveButton" class="submit" value="保存" type="button"/>
  </form>
  <a class="close onClose" href="javascript:;">×</a>
</div>

<!-------------------------------修改地址弹框------------------------------------------>
<div id="fade2" class="black_overlay"></div>
<div id="MyTake" class="white_content">
  <form id="take-addr">
    <div class="move">
      <div class="title">
        <span>修改收货地址</span>
      </div>
    </div>
    <p class="user">
      <label>姓名:</label>
      <input id="modifyContactsName" type="text" name="" value=""/>
      <select name="">
        <option value="">先生</option>
        <option value="">女士</option>
      </select>
    </p>
    <p class="phone">
      <label>手机号:</label>
      <input id="modifyContactsTel" type="text" name="" maxlength="11" value=""/>
    </p>
    <p class="addr">
      <label>公司地址:</label>
      <input id="modifyAddress" class="rt" type="text" name="" style="width: 300px;" value=""/>
    </p>
    <input id="modifyAddrInfoButton" class="submit" value="保存" type="button"/>
  </form>
  <a class="close" href="javascript:;">×</a>
</div>
<!--页面结束-->
<iframe src="/footer" frameborder="0" width="100%" height="490px" style="margin-bottom: -5px;"></iframe>

<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/address.js"></script>

</body>
</html>
