<link rel="stylesheet" type="text/css" href="/css/header.css"/>
<!--TOP-->
<div id="topbar">
    <div class="container">
        <div class="left-part">
            <a class="ty dw" href="#">
                <i></i>
                <span>杭州</span>
            </a>
        </div>
        <ul class="right-part">
            <li style="display: none;">
                <a class="ty" href="/"></a>
                <span>|</span>
            </li>
            <li style="display: none;">
                <a class="ty" href="/login">登录</a>
                <span>|</span>
            </li>
            <li style="display: none;">
                <a class="ty" href="/register">注册</a>
                <span>|</span>
            </li>
            <li style="display: none;">
                <a class="ty" href="/logout">退出登录</a>
                <span>|</span>
            </li>
            <li class="top-nav-my">
                <a href="/for_boon">我的美盒</a>
                <ul class="nav-js">
                    <li><a href="/for_boon">福利订单</a></li>
                    <li><a href="/for_custom">定制订单</a></li>
                    <li><a href="/for_pay">待付款订单</a></li>
                    <li><a href="/for_eval">待评价订单</a></li>
                    <li><a href="/for_refund">我的退款</a></li>
                    <li><a href="/user/1">个人资料</a></li>
                    <li><a href="/address">地址管理</a></li>
                    <li><a href="/for_alter">修改密码</a></li>
                </ul>
            </li>
            <li>
                <span>|</span>
                <a class="ty" href="/">客户服务</a>
                <span>|</span>
            </li>
            <li>
                <a class="hover-code" href="/">公司后台</a>
                <span>|</span>
            </li>
            <li><a class="ty boss" href="/store/register">商家入驻</a></li>
        </ul>
    </div>
</div>
<!--头部logo部分-->
<div id="header">
    <div class="container">
        <h1 class="logo">
            <a href="/" title="美盒优品"></a>
        </h1>
        <div class="tui">
            <a href="#"><img src="/img/tui.png" alt=""/></a>
            <div class="refund">未消费，随便退！</div>
        </div>
        <div class="pei">
            <a href="#"><img src="/img/pei.png" alt=""/></a>
            <div class="mid">消费不满意先行赔付！</div>
        </div>
        <div class="cart">
            <a href="/"></a>
        </div>
        <form class="search" action="">
            <input placeholder="输入你的关键词" type="text"/>
            <a href="#"></a>
        </form>
        <div class="prompt">
            <a href="#">最新上架</a>
            <a href="#">生日会</a>
            <a href="#">下午茶</a>
            <a href="#">甜点饮品</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/header.js"></script>
