<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="/img/favicon.ico" rel="shortcut icon">
    <title>美盒优品</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>
<body>
<!--TOP-->
<div id="topbar">
    <div class="container">
        <div class="sign">
            <i></i>
            <a class="a-sign" href="javascript:;">签到有礼</a>
            <div class="sign-cont">
                <div class="sign-box">

                </div>
                <div class="sign-text">
                    每天签到送惊喜，连续签到更享心动奖励
                    <button type="button">签到</button>
                </div>
            </div>
        </div>
        <div class="left-part">
            <a class="ty dw" href="#">
                <i></i>
                <span>杭州</span>
            </a>
        </div>
        <ul class="right-part">
            <li style="display: none;">
                <a class="ty" href="/"></a>
                <span>|</span>
            </li>
            <li style="display: none;">
                <a class="ty" href="/login">登录</a>
                <span>|</span>
            </li>
            <li style="display: none;">
                <a class="ty" href="/register">注册</a>
                <span>|</span>
            </li>
            <li style="display: none;">
                <a class="ty" href="/logout">退出登录</a>
                <span>|</span>
            </li>
            <li class="top-nav-my">
                <a href="/for_boon">我的美盒</a>
                <ul class="nav-js">
                    <li><a href="/for_boon">福利订单</a></li>
                    <li><a href="/for_custom">定制订单</a></li>
                    <li><a href="/for_pay">待付款订单</a></li>
                    <li><a href="/for_eval">待评价订单</a></li>
                    <li><a href="/for_refund">我的退款</a></li>
                    <li><a href="/user/1">个人资料</a></li>
                    <li><a href="/address">地址管理</a></li>
                    <li><a href="/for_alter">修改密码</a></li>
                </ul>
            </li>
            <li>
                <span>|</span>
                <a class="ty boss" href="/store/register">商家入驻</a>
            </li>
        </ul>
    </div>
</div>
<!--头部logo部分-->
<div id="header">
    <div class="container">
        <h1 class="logo">
            <a href="/" title="美盒优品"></a>
        </h1>
        <div class="tui">
            <a href="#"><img src="/img/tui.png" alt=""/></a>
            <div class="refund">未消费，随便退！</div>
        </div>
        <div class="pei">
            <a href="#"><img src="/img/pei.png" alt=""/></a>
            <div class="mid">消费不满意先行赔付！</div>
        </div>
        <div class="cart">
            <a href="/"></a>
        </div>
        <form class="search" action="">
            <input placeholder="输入你的关键词" type="text"/>
            <a href="#"></a>
        </form>
        <div class="prompt">
            <a href="#">最新上架</a>
            <a href="#">生日会</a>
            <a href="#">下午茶</a>
            <a href="#">甜点饮品</a>
        </div>
    </div>
</div>
<!--banner轮播部分-->
<div id="banner">
    <!--轮播图片-->
    <div class="slideshow">
        <div class="slides">
            <div class="slide slide-1" style="background-image: url(/img/banner_01.jpg);"></div>
            <div class="slide slide-2" style="background-image: url(/img/banner_02.jpg);"></div>
            <div class="slide slide-3" style="background-image: url(/img/banner_03.jpg);"></div>
        </div>
        <div class="bullets">
            <div class="bullet bullet-1"></div>
            <div class="bullet bullet-2"></div>
            <div class="bullet bullet-3"></div>
        </div>
    </div>
    <!--轮播信息-->
    <div class="content">
        <div class="direction">
            <a class="prev" href="#"></a>
            <a class="next" href="#"></a>
        </div>
    </div>
</div>
<!--页面主体部分-->
<div id="main-box">
    <div id="main-background-color">
        <div class="top-main"></div>
        <div class="bottom-main"></div>
    </div>
    <div id="main">
        <div id="one">
            <ul class="box-one">
                <li>
                    <a href="/product/list/?ob=1">
                        <img src="/img/one_01.png" alt=""/>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/img/one_02.jpg" alt=""/>
                    </a>
                </li>
                <li class="one-li">
                    <ul class="one-box">
                        <li class="hover-1">
                            <a href="/product/list/?cate=5"></a>
                        </li>
                        <li class="hover-2">
                            <a href="/product/list/?cate=1"></a>
                        </li>
                        <li class="hover-3">
                            <a href="/product/list/?cate=4"></a>
                        </li>
                        <li class="hover-4">
                            <a href="/product/list/?cate=3"></a>
                        </li>
                    </ul>
                    <span class="one-box1"></span>
                    <span class="one-box2"></span>
                </li>
                <li>
                    <a href="#">
                        <img src="/img/one_04.jpg" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="/img/one_05.jpg" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="/img/list06.png" alt=""/>
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/img/one_07.png" alt=""/>
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="two">
            <h3>
                主题策划
                <a href="#">更多案例></a>
            </h3>
            <ul>
                <li>
                    <div class="flash"></div>
                    <a href="/product/list/?subj=1"><img src="/img/two01.jpg" alt=""/></a>
                </li>
                <li>
                    <div class="flash"></div>
                    <a href="/product/list/?subj=2"><img src="/img/two02.jpg" alt=""/></a>
                </li>
                <li>
                    <div class="flash"></div>
                    <a href="/product/list/?subj=3"><img src="/img/two03.jpg" alt=""/></a>
                </li>
            </ul>
        </div>
        <div id="three">
            <h3>
                商品推荐
                <a href="#">更多推荐></a>
            </h3>
            <ul id="recommendedProducts">
                <li>
                    <a href="#"><img src="/img/three01.jpg" alt=""/></a>
                </li>
                <script id="goodsListTemplate" type="text/html">
                    {{each recommendedProductList}}
                    <li>
                        <a href="#"><img src="{{$value.primaryPictureUrl}}" alt=""/></a>
                        <div class="other">
                            <p class="recom-title">{{$value.name}}</p>
                            <p class="recom-title">{{$value.name}}</p>
                            <div class="comment">
                                <i></i>
                                <span>{{$value.sales}}</span>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </script>
            </ul>
        </div>
        <div id="four">
            <h3>
                掌柜采访
                <a class="enroll" href="enroll.html"></a>
                <a href="#">更多采访></a>
            </h3>
            <ul>
                <li>
                    <div class="flash"></div>
                    <a href="/"><img src="/img/four-boss01.jpg" alt=""/></a>
                </li>
                <li>
                    <div class="flash"></div>
                    <a href="/"><img src="/img/four-boss02.jpg" alt=""/></a>
                </li>
                <li>
                    <div class="flash"></div>
                    <a href="/"><img src="/img/four-boss03.jpg" alt=""/></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--页面尾部-->
<div id="footer">
    <div class="container">
        <div class="foot-seller">
            <img src="/img/footer.png" alt=""/>
        </div>
        <p class="foot-copyright">Copyright © 2017, meiheyoupin.com. All rights reserved | 浙ICP备16043943号-1 <a href="/"
                                                                                                               target="_parent">《隐私政策》</a>
        </p>
        <p class="foot-copyright"><a target="_blank"
                                     href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011002013251"><img
                src="/img/wangan.png"/>京公网安备33011002013251号</a></p>
        <p class="foot-img"><img src="/img/110.png" alt=""></p>
    </div>
</div>
<!--广告div-->
<div id="fl_wrap">
    <div id="fl_open_wrap">
        <div class="open_cntr"></div>
    </div>
    <div id="fl_pop_wrap">
        <div class="pop_cntr">
            <div class="pop_bg"></div>
            <div class="pop_box">
                <div class="pop_pic">
                    <img src="/img/00000.png" alt=""/>
                </div>
                <div class="pop_cnt">
                    <div class="pop_cnt_bg"></div>
                    <div class="pop_qrcode">
                        <div class="pop_hint">扫码关注美盒优品</div>
                        <img src="/img/mhyp_code.jpg" alt=""/>
                    </div>
                </div>
                <a class="pop_close" href="javascript:;" title="关闭">×</a>
            </div>
        </div>
    </div>
</div>
<!--滚动事件之后产生的搜索框-->
<div id='nav'>
    <div class="nav">
        <a class="logo-nav" href="javascript:;"><img src="/img/logo.png"/></a>
        <form action="">
            <input class="query" type="text" placeholder="搜索你喜欢的"/>
            <a class="go" href=""></a>
        </form>
    </div>
</div>
<!--返回顶部按钮-->
<ul class="toTop">
    <li>
        <a class="a-item top1" href="#">
            <img src="/img/TOP.png" alt="" />
            <span class="inner-text inner-text1">回到顶部</span>
        </a>
    </li>
    <li>
        <a class="a-item top2" href="javascript:;">
            <img src="/img/qrcode.png" alt="" />
            <span class="inner-text2"><img src="/img/hovercode.png" alt="" /></span>
            <div class="inner-box">
                <img src="/img/mhyp_code.jpg" alt="" />
                <span>关注微信号</span>
            </div>
        </a>
    </li>
    <li>
        <a class="a-item top3" href="feedback.html" target="_blank">
            <img src="/img/feedback.png" alt="" />
            <span class="inner-text inner-text3">用户反馈</span>
        </a>
    </li>
</ul>

<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/template-web.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
