<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/img/favicon.ico" rel="shortcut icon">
    <title>美盒优品-登录</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>
<!--页头-->
<div id="header">
    <div class="container">
        <h1 class="logo">
            <a href="/" title="美盒优品"></a>
        </h1>
        <div class="logo-text">登录</div>
        <span><a href="/register">注册新账号</a></span>
        <span>您好，欢迎登录美盒优品！</span>
    </div>
</div>
<!--登录框-->
<div class="body">
    <div class="wrapper">
        <div class="login-img">
            <img src="/img/login-bg.png" alt=""/>
        </div>
        <form id="loginForm" action="">
            <h2>登录美盒优品</h2>
            <div class="hidden">
                <div id="error" style="display: none;">账号和密码不匹配，请重新输入!</div>
            </div>
            <p class="login-user">
                <i class="icon"></i>
                <input id="loginInputTel" type="text" name="tel" maxlength="11" placeholder="手机号/账号"/>
            </p>
            <p class="login-password">
                <input id="loginInputPassword" type="password" name="password" maxlength="16" placeholder="密码"/>
            </p>
            <p class="login-code">
                <input id="loginInputVerification" type="text" name="verification" maxlength="4" placeholder="验证码"/>
                <a href="#">
                    <img id="code-validate" src="/code/1513853983896" class="code-img img-thumbnail" alt="验证码"
                         title="验证码"
                         onclick="changeUrl()">
                </a>
            </p>
            <p class="login-submit">
                <input id="loginButton" type="submit" value="登录"/>
            </p>
            <p class="login-info">
                <a href="/forget.html">忘记密码 </a>
                <span>|</span>
                <a href="/register" target="_blank">注册</a>
            </p>
        </form>
    </div>
</div>
<!--页脚-->
<footer>
    <div>客服电话：<span>4006-888-887</span>（每天9:00 - 22:00）</div>
    <div>Copyright © 2017, meiheyoupin.com. All rights reserved | 浙ICP备16043943号-1</div>
</footer>
<!--js-->
<div id='cover'></div>
<div id='tishi' style="display: none;">
    <p><i class="iconfont"></i>登录成功!</p>
    <div><span id='num'>5</span>秒后自动跳转至首页</div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/login.js"></script>

</body>
</html>
