<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>美盒优品-收银台</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pay.css"/>
</head>
<body>
<div id="header">
    <div class="container">
        <h1 class="logo">
            <a href="/" name="美盒优品"></a>
        </h1>
        <span class="head-title">收银台</span>
    </div>
</div>
<div id="nav">
    <div class="container">
        <div class="order-lf">
      <span class="order-num">
          订单编号:
          <strong>${orderInfo.id}</strong>
      </span>
        <span class="order-type">
          订单名称:
          <strong>${orderInfo.name}</strong>
        </span>
        </div>
        <div>
            <div class="order-rt">
                <span class="pay-name">应付金额:</span>
                <span class="pay-sum">￥<strong>${orderInfo.paymentAmount?string('0.00')}</strong></span>
            </div>
        </div>
    </div>
</div>
<div id="main">
    <div class="content">
        <div class="pay-head">
            <ul>
                <li class="wx-item">
                    <a></a>
                </li>
                <li class="ali-item">
                    <a id="aliPayButton" href="javascript:;"></a>
                </li>
            </ul>
        </div>
        <div class="pay-body">
            <h3>微信支付</h3>
            <div class="pay-code">
                <img id="payCode" src="" alt="微信支付二维码"/>
            </div>
            <p>请使用微信扫描二维码</p>
            <p>以完成支付!</p>
        </div>
    </div>
</div>
<!--页脚-->
<footer>
    <div>客服电话：<span>0571-86438349</span>（每天9:00 - 22:00）</div>
    <div>Copyright © 2017, meiheyoupin.com. All rights reserved | 浙ICP备16043943号-1 </div>
</footer>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.base64.js"></script>
<script src="/js/pay.js"></script>
<script src="/js/alipay.js"></script>

</body>
</html>
