<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>美盒优品-支付成功</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pay_succeed.css"/>
</head>
<body>
<div id="header">
    <div class="container">
        <h1 class="logo">
            <a href="index.html" title="美盒优品"></a>
        </h1>
        <div class="tui">
            <a href="#"><img src="/img/tui.png" alt=""/></a>
            <div class="refund">未消费，随便退！</div>
        </div>
        <div class="pei">
            <a href="#"><img src="/img/pei.png" alt=""/></a>
            <div class="mid">消费不满意先行赔付！</div>
        </div>
        <div class="cart">
            <a href="#"></a>
        </div>
        <form class="search" action="">
            <input placeholder="输入你的关键词" type="text"/>
            <a href="#"></a>
        </form>
        <div class="prompt">
            <a href="#">最新上架</a>
            <a href="#">生日会</a>
            <a href="#">下午茶</a>
            <a href="#">甜点饮品</a>
        </div>
    </div>
</div>
<!--页面主体-->
<div id="main">
    <div class="content">
        <div class="result-box">
            <span class="adopt"></span>
            <h3>你已成功购买“<span>${orderName}</span>”</h3>
            <p>您可以随时进入“<a href="for_boon.html">我的订单</a>”查看订单状态。</p>
            <div class="btn">
                <a href="payments.html">查看已购买商品</a>
            </div>
        </div>
    </div>
    <div class="detailbox">
        <div class="detail-title">订单信息</div>
        <div class="detail-content">
					<span class="order-num">
						订单编号:
						<strong>${orderNumber}</strong>
					</span>
            <span class="wx-code"><img src="/img/mhyp_code.jpg" alt=""/></span>
            <span class="wx-info">关注美盒优品公众号</span>
        </div>
    </div>
</div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/pay_success.js"></script>
</body>
</html>
