<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="/img/favicon.ico" rel="shortcut icon">
	<title>生日聚会-主题套餐</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/product_detail.css" />
</head>
<body>
<!--TOP-->
<div id="topbar">
	<div class="container">
		<div class="left-part">
			<a class="ty dw" href="#">
				<i></i>
				<span>杭州</span>
			</a>
		</div>
		<ul class="right-part">
			<li>
				<a class="ty" href="/login" >登录</a>
				<span>|</span>
			</li>
			<li>
				<a class="ty" href="/register" >注册</a>
				<span>|</span>
			</li>
			<li class="top-nav-my">
				<a href="/for_boon">我的订单</a>
				<ul class="nav-js">
					<li><a href="/for_boon">福利订单</a></li>
					<li><a href="/for_custom">定制订单</a></li>
					<li><a href="/for_pay">待付款订单</a></li>
					<li><a href="/for_eval">待评价订单</a></li>
					<li><a href="/for_refund">我的退款</a></li>
					<li><a href="/user/1">个人资料</a></li>
					<li><a href="/address">地址管理</a></li>
					<li><a href="/for_alter">修改密码</a></li>
				</ul>
			</li>
			<li>
				<span>|</span>
				<a class="ty" href="#" >客户服务</a>
				<span>|</span>
			</li>
			<li>
				<a class="hover-code" href="#">公司后台</a>
				<span>|</span>
			</li>
			<li><a class="ty boss" href="/store/register" >商家入驻</a></li>
		</ul>
	</div>
</div>
<!--头部logo部分-->
<div id="header">
	<div class="container">
		<h1 class="logo">
			<a href="/" title="美盒优品" ></a>
		</h1>
		<div class="tui">
			<a href="#" ><img src="/img/tui.png" alt="" /></a>
			<div class="refund">未消费，随便退！</div>
		</div>
		<div class="pei">
			<a href="#" ><img src="/img/pei.png" alt="" /></a>
			<div class="mid">消费不满意先行赔付！</div>
		</div>
		<div class="cart">
			<a href="/" ></a>
		</div>
	</div>
</div>
<!--页面开始-->
<div id="main">
	<!--第一部分-->
	<div class="part_one">
		<ul class="list-img">
			<li class="img-box01">
				<a href="#">
					<#if goods.pictureUrlList[2]??>
						<img src="${goods.pictureUrlList[0]}" alt="" />
					</#if>
				</a>
			</li>
			<li class="img-box02">
				<div class="list-detail">
					<p id="goodsId" hidden>${goods.id}</p>
					<h3>${goods.name}</h3>
					<p class="detail detail-1">
						<span class="dt-img"><img src="/img/party/list02_1.png" alt="" /></span>
						<span class="dt-2">套餐价格:</span>
						<span class="dt-3">￥${goods.price}</span>
					</p>
					<p class="detail detail-2">
						<span class="dt-img"><img src="/img/party/list02_2.png" alt="" /></span>
						<span class="dt-2">适合人数:</span>
						<span class="dt-3">${goods.numOfPeople}人</span>
					</p>
					<p class="detail detail-3">
						<span class="dt-img"><img src="/img/party/list02_3.png" alt="" /></span>
						<span class="dt-2">适合场合:</span>
						<span class="dt-3">${goods.occasion}</span>
					</p>
					<div class="btn-box">
						<div class="Buy">
							<a href="#">立即购买</a>
						</div>
						<div class="Basket">
							<a>加入购物车</a>
						</div>
					</div>
					<div class="other">
						<span class="rt">已售: <b class="sell">${goods.sales}</b> 份</span>
					</div>
				</div>
			</li>
			<#list goods.pictureUrlList as pictureUrl>
			<li class="bigger">
				<a href="#">
					<#if goods.pictureUrlList??>
						<img src="${pictureUrl}" alt="" />
						<#else>
							<img src="https://www.baidu.com/img/bd_logo1.png" alt="" />
					</#if>
				</a>
			</li>
			</#list>
		</ul>
	</div>
	<!--第二部分-->
	<div id="div1" class="part_two">
		<div class="tobuy-line">
			&nbsp;购买须知&nbsp;
			<span>• 美盒优品使用一对一的派送服务&nbsp;&nbsp;一小时内送达&nbsp;&nbsp;如有损坏请及时联系客服 •
						<br/>• 活动有效期至2017年10月31日 •
					</span>
		</div>
		<div class="box-list">
			<table>
				<tr>
					<th class="set-meal">套餐内容</th>
					<th class="tasty">口味</th>
					<th class="amount">数量/规格</th>
				</tr>
				<#list goods.goodsContentList as goodsContent>
				<tr>
					<td class="set-meal">${goodsContent.title}</td>
					<td class="tasty">${goodsContent.taste}</td>
					<td class="amount">${goodsContent.count}</td>
				</tr>
				</#list>
			</table>
		</div>
		<ul class="img-list">
			<#list goods.pictureUrlList as pictureUrl>
				<li>
					<a href="#">
						<#if goods.pictureUrlList??>
							<img src="${pictureUrl}" alt="" />
							<#else>
								<img src="https://www.baidu.com/img/bd_logo1.png" alt="" />
						</#if>
					</a>
					<span>可乐聚会 , 激爽夏日 , 给这个热不可挡的夏日带来最酷的体验</span>
				</li>
			</#list>
			<li>
				<a href="#"><img src="/img/party/list_201712301221284.jpg"/></a>
				<span></span>
			</li>
			<li>
				<a href="#"><img src="/img/party/list_201712301221285.jpg"/></a>
				<span></span>
			</li>
			<li>
				<a href="#"><img src="/img/party/list_201712301221281.jpg"/></a>
				<span></span>
			</li>
			<li>
				<a href="#"><img src="/img/party/list_201712301221282.jpg"/></a>
				<span></span>
			</li>
			<li>
				<a href="#"><img src="/img/party/list_20171230122128.jpg"/></a>
				<span></span>
			</li>
			<li>
				<a href="#"><img src="/img/party/list_201712301221283.jpg"/></a>
				<span></span>
			</li>
		</ul>
	</div>
	<!--第三部分-->
	<div id="div2" class="part_three">
		<h3>美盒优品用户评价</h3>
		<div class="cont-eval">
			<div class="eval-lf">
				<div class="img">
					<img src="/img/yff.png" alt="" />
				</div>
				<span>生无可恋</span>
			</div>
			<div class="eval-rt">
				<img src="" alt="" />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sit voluptatem ab eos architecto modi laudantium itaque eum maxime perferendis non error sequi tempora ipsum nesciunt explicabo omnis. Illum dignissimos.
				</p>
				<div class="times">
					<span>2017-12-12</span>
					<span>09:54</span>
				</div>
			</div>
		</div>
		<div class="cont-eval">
			<div class="eval-lf">
				<div class="img">
					<img src="/img/yff.png" alt="" />
				</div>
				<span>生无可恋</span>
			</div>
			<div class="eval-rt">
				<img src="" alt="" />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sit voluptatem ab eos architecto modi laudantium itaque eum maxime perferendis non error sequi tempora ipsum nesciunt explicabo omnis. Illum dignissimos.
				</p>
				<div class="times">
					<span>2017-12-12</span>
					<span>09:54</span>
				</div>
			</div>
		</div>
		<div class="cont-eval">
			<div class="eval-lf">
				<div class="img">
					<img src="/img/yff.png" alt="" />
				</div>
				<span>生无可恋</span>
			</div>
			<div class="eval-rt">
				<img src="" alt="" />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sit voluptatem ab eos architecto modi laudantium itaque eum maxime perferendis non error sequi tempora ipsum nesciunt explicabo omnis. Illum dignissimos.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ratione modi cumque quod exercitationem quae itaque vitae pariatur perferendis cupiditate doloremque nam qui eveniet labore iste odit quos consequuntur laborum!
				</p>
				<div class="times">
					<span>2017-12-12</span>
					<span>09:54</span>
				</div>
			</div>
		</div>
		<div class="more-line">查看更多评论</div>
	</div>
	<!--第4部分-->
	<div id="div3" class="part_four">
		<img src="/img/party/list30.png" alt="" />
	</div>
</div>
<!--滚动事件产生的导航栏-->
<div id="affix">
	<div class="affix">
		<ul>
			<li class="list">
				<a class="a-item active" href="#div1">套餐详情</a>
			</li>
			<li class="list">
				<a class="a-item" href="#div2">用户评论</a>
			</li>
			<li class="list">
				<a class="a-item" href="#div3">送货流程</a>
			</li>
		</ul>
		<button type="button">立即抢购</button>
	</div>
</div>
<!--页面结束-->
<iframe src="/footer" frameborder="0" width="100%" height="490px" style="margin-bottom: -5px;"></iframe>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.base64.js"></script>
<script src="/js/product_detail.js"></script>
</body>
</html>
