<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/img/favicon.ico" rel="shortcut icon">
    <title>美盒优品-注册</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/register.css"/>
</head>
<body>
<!--页头-->
<div id="header">
    <div class="container">
        <h1 class="logo">
            <a href="/" name="美盒优品"></a>
        </h1>
        <div class="logo-text">注册</div>
        <span><a href="/login">请登录</a></span>
        <span>您好，欢迎登录美盒优品！</span>
    </div>
</div>
<form id="banner" action="">
    <div class="form-name">注册美盒优品</div>
    <div class='dingwei'>
        <input id='tel' name="phone" type="tel" maxlength="11" placeholder="输入手机号">
        <i class="icon-tel"></i>
    </div>
    <div class='dingwei'>
        <input id='code' name="verification" type="text" maxlength="6" placeholder="输入验证码">
        <div><input id='btn-code' type="button" value="获取验证码"/></div>
        <i class="icon-code"></i>
    </div>
    <div class='dingwei'>
        <input id='pwd1' name="password" type="password" maxlength="20" placeholder="设置密码">
        <i class="icon-pwd1"></i>
    </div>
    <div class='dingwei'>
        <input id='pwd2' name="password2" type="password" maxlength="20" placeholder="确认密码">
        <i class="icon-pwd2"></i>
    </div>
    <div class='dingwei'>
        <input id='yq' name="invitation" type="text" maxlength="8" placeholder="输入邀请码(没有可不填)">
        <i class="icon-yq"></i>
    </div>
    <div class='dingwei'>
        <input id='cpy-name' name="company" type="text" maxlength="20" placeholder="输入公司名">
        <i class="icon-nm"></i>
    </div>
    <div class='dingwei'>
        <input id='cpy-department' name="department" type="text" maxlength="20" placeholder="输入部门">
        <i class="icon-dep"></i>
    </div>
    <div class='dingwei'>
        <input id='cpy-addr' name="address" type="text" maxlength="30" placeholder="输入公司地址">
        <i class="icon-addr"></i>
    </div>
    <div class='dingwei'>
        <input id='cpy-tacts' name="contacts" type="text" maxlength="20" placeholder="输入公司联系人">
        <input class="btn-ladie" type="button" name="sex" value="女士" gender="0"/>
        <input class="btn-gentle" type="button" name="sex" value="男士" gender="1"/>
        <i class="icon-tact"></i>
    </div>
    <div class='dingwei'>
        <h3>公司简单介绍</h3>
        <textarea id="cpy-intro" name="introduces" placeholder="请告诉美盒你们是做什么的...(150字内)" maxlength="150"></textarea>
    </div>
    <div class="dingwei">点击注册，表示同意美盒优品<a href="terms.html">《服务协议》</a></div>
    <div>
        <input id='submit' type="button" value='注册美盒优品' style='text-indent: 0;'>
    </div>
    <div id="label">
        <div><label for="tel">手机号</label></div>
        <div><label for="code">验证码</label></div>
        <div><label for="pwd1">设置密码</label></div>
        <div><label for="pwd2">确认密码</label></div>
        <div><label for="yq">邀请码</label></div>
        <div><label for="cpy-name">公司名</label></div>
        <div><label for="cpy-department">公司部门</label></div>
        <div><label for="cpy-addr">公司地址</label></div>
        <div><label for="cpy-tacts">公司联系人</label></div>
    </div>
    <div id="prompt">
        <div><p class="p_tel">请输入注册手机号</p></div>
        <div><p class="p_code">请输入手机验证码</p></div>
        <div><p class="p_pwd1">6-20个大小写英文，符号或者数字的组合</p></div>
        <div><p class="p_pwd2">请再次输入密码</p></div>
        <div><p class="p_yq">没有可不填</p></div>
        <div><p class="p_nm">请输入公司名</p></div>
        <div><p class="p_dep">请输入公司部门</p></div>
        <div><p class="p_addr">请输入公司地址</p></div>
        <div><p class="p_tact">请输入公司联系人</p></div>
        <div><p class="p_sub">请按要求填写所有信息之后再进行提交</p></div>
    </div>
</form>
<!--页脚-->
<footer>
    <div>客服电话：<span>0571-86438349</span>（每天9:00 - 22:00）</div>
    <div>Copyright © 2017, meiheyoupin.com. All rights reserved | 浙ICP备16043943号-1</div>
</footer>

<!--提交成功-->
<div id="fade" class="black_overlay"></div>
<div id="MyDiv" class="white_content">
    <div class="move">
        <div class="name">
            <img src="/img/complete.png" alt=""/>
            <p>注册成功</p>
        </div>
    </div>
    <div class="list">
        <p>欢迎来到美盒优品大家庭 ！</p>
        <div class="jsp" style="text-align: center;">
            <span style="color:red; font-size:20px;" id="tips">3</span>秒之后返回到登录页面...
            <!--<a class="back" href="#" onclick="CloseDiv('MyDiv','fade')">立即返回</a>-->
        </div>
    </div>
    <a class="back" href="javascript:;" onclick="CloseDiv('MyDiv','fade')">×</a>
</div>

<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/reg.js"></script>

</body>
</html>